
@keyframes cvgost {
  0% {
    text-shadow: initial;
    color: transparent;

  }
  20% {
    text-shadow: 1px 1px 1px #c01f1f, 1px 2px 1px #382020, 1px 3px 1px #881c1c, 1px 4px 1px #8a2020, 1px 5px 1px #a34848,
      1px 6px 1px #ac1919, 1px 7px 1px #801818, 1px 8px 1px #410a0a, 1px 9px 1px #919191, 1px 10px 1px #881313,
      1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
    color: #1626b6;
  }

  40% {
    text-shadow: 5px 5px 5px #919191, 1px 2px 1px #9b2222, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191,
      1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #700b0b, 1px 10px 1px #919191,
      1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
    color: #f5f5f5;
  }

  60% {
    text-shadow: 20px 20px 20px #919191, 1px 2px 1px #d5e215, 1px 3px 1px #919191, 1px 4px 1px #919191,
      1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #bdba0a, 1px 9px 1px #919191,
      1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  }

  100% {
    text-shadow: 20px 20px 20px #919191, 40px 40px 5px #1a35ca, 4px 3px 1px #919191, 4px 4px 1px #919191,
      1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
      1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  }
}

.cvwind {
  background-image: url("https://i.ytimg.com/vi/-4R0hS9ute0/maxresdefault.jpg");
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  line-height: 0.95;
  font-weight: bold;
  text-shadow: 0 0 rgba(255, 255, 255, 0.06);
  animation: cvwind 2s infinite linear;
  background-size: 200px 100px;
  background-repeat: repeat-x;
  opacity: 1;
}
@keyframes cvwind {
  0% {
    background-position: 0 bottom;
  }

  100% {
    background-position: 200px bottom;
  }
}

