.scare{
    animation-name: scare;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes scare {
    0%{ transform: scale(1) }
    10%{ transform: scale(1.2) rotate(-10deg) }
    20%{ transform: rotate(10deg) }
    30%{ transform: rotate(-10deg) }
    40%{ transform: rotate(10deg) }
    50%{ transform: rotate(-10deg) }
    60%{ transform: rotate(10deg) }
    70%{ transform: rotate(-10deg) }
    80%{ transform: rotate(10deg) }
    90%{ transform: rotate(-10deg) }
    100%{ transform: rotate(0deg) }
}

.mini-zoom{
    animation-name: mini-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes mini-zoom {
    from{ transform: scale(0) }
    to{ transform: scale(1) }
}

.wiggle{
    animation-name: wiggle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes wiggle {
    0% { transform: rotate(10deg) }
    25% { transform: rotate(-10deg) }
    50% { transform: rotate(20deg) }
    75% { transform: rotate(-5deg) }
    100% { transform: rotate(0deg) }
}

.flash {
  animation-name: flash;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
@keyframes explode {
    0%{}
    5%{transform: scale(1.1)}
    10%{transform: scale(0.9) rotate(5deg)}
    15%{transform: scale(1.2)}
    20%{transform: scale(0.8) rotate(-5deg)}
    25%{transform: scale(1.3);}
    30%{transform: scale(0.7) rotate(5deg)}
    35%{transform: scale(1.5)}
    40%{transform: scale(0.4) rotate(-5deg)}
    50%{transform: scale(1.3);
    color: pink;}
    60%{transform: scale(0.9) rotate(5deg);}
    70%{transform: scale(5); color: red;}
    100%{}
}
.explode {
    animation-name: explode;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@keyframes bounce {

  0%, 100% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.4);
  }

  75% {
    transform: scale(1.35);
  }

  90% {
    transform: scale(1.4);
  }
}

.colours{
    animation: colours 5s linear infinite;
    /* animation-name: colours;
    animation-duration: 5s;
    animation-fill-mode: forwards; */
}

@keyframes colours{
    0%{
        color: #ffffff;
    }
    10%{
        color: #ff0000;
    }
    20%{
        color: #ffff00;
    }
    30%{
        color: #00ff00;
    }
    40%{
        color: #00ffff;
    }
    50%{
        color: #0000ff;
    }
    60%{
        color: #00ffff;
    }
    70%{
        color: #00ff00;
    }
    80%{
        color: #ffff00;
    }
    90%{
        color: #ffff00;
    }
    100%{
        color: #ffffff;
    }
}

.rollIn {
  animation-name: rotateIn;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

@keyframes rotateIn {
  0% {
    transform: rotate3d(1, 0, 0, 80deg) translateY(-50%);
  }
  80% {
    transform: rotate3d(1, 0, 0, -20deg) translateY(10%);
  }
  100% {
    transform: rotate3d(1, 0, 0, 0deg) translateY(0);
  }
}

.swing {
  animation-name: swing;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes swing {
  0% {
    transform: rotateX(70deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

.nanananabatman{
  animation: nanananabatman linear 4s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes nanananabatman{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) ;
  }
  2% {
    transform:  translate(0px,-50px)  rotate(90deg) scaleX(2.44) ;
  }
  4% {
    transform:  translate(-49px,-48px)  rotate(990deg) scaleX(3.88) ;
  }
  6% {
    transform:  translate(-49px,1px)  rotate(9990deg) scaleX(5.31) ;
  }
  8% {
    transform:  translate(-1px,-1px)  rotate(100079deg) scaleX(6.75) ;
  }
  9% {
    transform:  translate(-1px,-1px)  scaleX(7.47) ;
  }
  11% {
    transform:  translate(-1px,-1px)  scaleX(-1.14) ;
  }
  13% {
    transform:  translate(-1px,-1px)  scaleX(-4.54) ;
  }
  14% {
    transform:  translate(-1px,-1px)  scaleX(0.91) ;
  }
  100% {
    transform:  translate(-1px,-1px)  rotate(100079deg) scaleX(0.91) ;
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  animation-duration: 0.8s;
}

.boogie {
  animation-name: boogie-wiggle, boogie-fade;
  animation-duration: 2s, 2s;
  animation-timing-function: ease-out, linear;
}

@keyframes boogie-fade {
  0% {
    opacity: 0;
  }
  33% {
    opacity: .3;
  }
  67% {
    opacity: .7;
  }
  15%, 50%, 80%, 100% {
    opacity: 1;
  }
}

@keyframes boogie-wiggle {
  0% {
    transform: rotate(-1deg) translate(-1%, -1%);
  }
  2% {
    transform: rotate(1deg) translate(1%, 1%);
  }
  4% {
    transform: rotate(-1.2deg) translate(-1.2%, -1.2%);
  }
  6% {
    transform: rotate(1.2deg) translate(1.2%, 1.2%);
  }
  10% {
    transform: rotate(-1.4deg) translate(-1.4%, -1.4%);
  }
  14% {
    transform: rotate(1.4deg) translate(1.4%, 1.4%);
  }
  18% {
    transform: rotate(-1.2deg) translate(-1.2%, -1.2%);
  }
  22% {
    transform: rotate(1.2deg) translate(1.2%, 1.2%);
  }
  34% {
    transform: rotate(-2deg) translate(-2%, -2%);
  }
  46% {
    transform: rotate(2deg) translate(2%, 2%);
  }
  58% {
    transform: rotate(-2.2deg) translate(-2.2%, -2.2%);
  }
  70% {
    transform: rotate(2.2deg) translate(2.2%, 2.2%);
  }
  84% {
    transform: rotate(-1deg) translate(-1%, -1%);
  }
  88% {
    transform: rotate(1deg) translate(1%, 1%);
  }
  92% {
    transform: rotate(-.5deg) translate(-.5%, -.5%);
  }
  96% {
    transform: rotate(.5deg) translate(.5%, .5%);
  }
  100% {
    transform: none;
  }
}

@keyframes jump {
20%{transform: scaleY(0.01); transform-origin: bottom;}
40%{transform: scaleY(5) translateY(-30px)}
55%{transform: translateY(-20px)}
60%{transform: translate(2px, -3px) scaleY(0.7); transform-origin: bottom;}
62%{transform: translate(-5px, -3px) scaleY(0.8); transform-origin: bottom;}
64%{transform: translateX(6px, -6px) scaleY(0.85); transform-origin: bottom;}
66%{transform: translate(-5px, -3px) scaleY(0.9); transform-origin: bottom;}
68%{transform: translateX(4px, -5px) scaleY(0.95); transform-origin: bottom;}
80%{}
}

.jump {
    
    -webkit-animation-name: jump;
    animation-name: jump;
    animation-duration: 3s;
}

.heartbeat {
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.6);
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.neon {
  font-family: 'Warnes', cursive;
  animation: neon 2s ease-in-out infinite;
}
