.scare{
    animation-name: scare;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes scare {
    0%{ transform: scale(1) }
    10%{ transform: scale(1.2) rotate(-10deg) }
    20%{ transform: rotate(10deg) }
    30%{ transform: rotate(-10deg) }
    40%{ transform: rotate(10deg) }
    50%{ transform: rotate(-10deg) }
    60%{ transform: rotate(10deg) }
    70%{ transform: rotate(-10deg) }
    80%{ transform: rotate(10deg) }
    90%{ transform: rotate(-10deg) }
    100%{ transform: rotate(0deg) }
}

.mini-zoom{
    animation-name: mini-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes mini-zoom {
    from{ transform: scale(0) }
    to{ transform: scale(1) }
}

.wiggle{
    animation-name: wiggle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes wiggle {
    0% { transform: rotate(10deg) }
    25% { transform: rotate(-10deg) }
    50% { transform: rotate(20deg) }
    75% { transform: rotate(-5deg) }
    100% { transform: rotate(0deg) }
}

.flash {
  animation-name: flash;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
