html,
body {
  height: 100%;
  background-color: #411e2f;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url(bg_main.png);
}

select {
  font-size: 0.7em;
  padding: 0.5em 1em;
}

.padding {
  padding: 1rem;
  font-size: 1em;
}

.white {
  color: white;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 60px !important;
  color: white;
}

select {
  max-width: 90vw;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  scale: 200%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-btn {
  border-radius: 5px;
  margin-top: 50px;
  background-color: #ff9f57;
  border-color: transparent;
  color: #fff;
}

.custom-btn:hover {
  background-color: #d66d1e;
  border-color: transparent;
  color: #fff;
}

.max-w {
  margin: 0 auto;
  max-width: 70vw;
}

@media only screen and (max-width: 835px) {
  .title {
    font-size: 46px !important;
  }
}

@media only screen and (max-width: 654px) {
  .title {
    font-size: 25px !important;
  }

  select {
    margin: 60px 0;
    max-width: 70%;
  }
}
