@keyframes sitting {
    
    0%{
        transform: rotateZ(-10deg);
        color: blue;
    }
    60%{
        transform: rotateZ(10deg);
    }
    80%{
        transform: scale(1.2);
        color: rgb(255, 6, 6);
    }
    100%{
        transform: scale(1);
    }
}
.airy{
    animation: sitting 1s linear infinite alternate;
}