/**
 * /* By: https://github.com/AnshuPathak-88825
 *
 * @format
 */

 @keyframes zeno {
	from {
		background-color: rgb(173, 140, 140);
		color: black;

	}
	to {
		background-color: rgb(25, 34, 112);
		color: aliceblue;
	}
}

/* The element to apply the animation to */
.title {
	width: 65%;
	height: 120px;
	background-color: rgb(173, 173, 173);
	text-align: center;
	margin: auto;
	animation-name: zeno;
	animation-duration: 4s;
}
