

h1 {
  color: black;
  text-shadow: 2px 3px lime; 
  margin-top: 10px;
  margin-bottom: 1px;
  font-family: Creepster;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 3s steps(60, end);
}

h1:nth-child(2) {
  animation: type2 5s steps(60, end);
}

h1:nth-child(3) {
  animation: type3 9s steps(60, end);
}

h1 a {
  color: lime;
  text-decoration: none;
}

h1 span {
  animation: blink 1s infinite;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }

  40% {
    width: 0;
  }

  100% {
    width: 100;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }

  45% {
    width: 0;
  }

  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}