/**
 * /* By: https://github.com/lovetyagi-17
 *
 * @format
 */

@keyframes animation {
    from {
		border-top: 10px #edae49 solid;
		border-bottom: 10px #d1495b solid;
		border-left: 10px #30638e solid;
		border-right: 10px #edae49 solid;
	}
	to {
		border-top: 10px #d1495b solid;
		border-bottom: 10px #00798c solid;
		border-left: 10px #003d5b solid;
		border-right: 10px #00798c solid;
	}
} 

.animation {
    animation: blend;
    padding: 20px;
    position: relative;
	border-top: 10px #edae49 solid;
	border-bottom: 10px #d1495b solid;
	border-right: 10px #30638e solid;
	border-left: 10px #edae49 solid;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	letter-spacing: 3px;
}

.animation:after {
	animation: borderPulse 2s ease-in-out infinite;
	border-top: 10px #edae49 solid;
	border-bottom: 10px #d1495b solid;
	border-right: 10px #30638e solid;
	border-left: 10px #edae49 solid;
	content: '';
	display: block;
	margin: -15px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale(1);
}
