.appear{
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 50px;
    border: 10px dashed gold;
    animation-name: appear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}
@keyframes appear{
0%{
    color: white;
    border: 10px dashed white;
}
50%{
    color: gray;
    border: 10px dashed gray;
}
100%{
    color: gold;
    border: 10px solid gold;
    background-color: black;
}
}
