/** @format */
/* By https://github.com/Ronnasayd */

.arise {
	background: linear-gradient(to right, rgb(0, 247, 255), rgb(250, 0, 196));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-weight: bold;
	animation: Arise 2s ease-in-out infinite alternate-reverse;
	position: relative;
}

@keyframes Arise {
	0% {
		height: 0px;
		opacity: 0;
	}
	10% {
		background-position: 200px;
		opacity: 0.2;
		height: 20px;
	}
	20% {
		background-position: 400px;
		opacity: 0.4;
		height: 40px;
	}
	30% {
		opacity: 0.6;
		height: 60px;
		background-position: 600px;
	}
	40% {
		opacity: 1;
		height: 82px;
		background-position: 800px;
	}
	50% {
		background-position: 1000px;
	}
	60% {
		background-position: 1200px;
	}
	80% {
		background-position: 1400px;
	}
	100% {
		background-position: 1450px;
	}
}
