.ashishMotion{
    font-family:monospace;
    font-weight: 700;
    /* position: relative; */
    background: radial-gradient(circle at left,rgb(170, 255, 0),rgb(0, 145, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: ashishMotion 3s linear infinite;
    transition: all 2s ease-in;
    text-shadow: 2px 2px 5px rgba(0,255,255,0.7);

}
/* .ashishMotion:hover{
    text-shadow: 2px 2px 5px white;
} */

@keyframes ashishMotion {
    0%{
        background: radial-gradient(circle at left,rgb(170, 255, 0),rgb(0, 145, 255));
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0,255,255,0.7);

    }
    25%{
        background: radial-gradient(circle at top,rgb(170, 255, 0),rgb(100, 145, 255));
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.7);

    }
    50%{
        background: radial-gradient(circle at right,rgb(170, 255, 0),rgb(0, 147, 255));
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.7);

    }
    100%{
        background: radial-gradient(circle at bottom,rgb(170, 255, 0),rgb(0, 145, 255));
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0,255,255,0.7);

    }
}
