/** @format */

.autumn-gradient {
	font-size: 100px;
	background-image: linear-gradient(70deg,  #fc4a1a,  #f7b733,  #fdc830);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
