@keyframes backFlip {
  0% {
    transform: rotateX(0deg) translateZ(0px);
    transition-timing-function: linear;
    text-shadow: 0 0 10px #fff;
  }

  40% {
    transform: rotateX(100deg) translateZ(100px);
    transition-timing-function: ease;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    text-shadow: 0 0 10px #fff;
    transform: rotateX(360deg) translateZ(50px);
  }
}

.backFlip {
  animation: backFlip 2s infinite cubic-bezier(0.87, 0.05, 0, 0.77) forwards;
  transform-style: preserve-3d;
  perspective: 600px;
}