/**
 * /* By: https://github.com/NullSilence
 *
 * @format
 */

@keyframes background {
    0% {
		 background-position: 0% 50%;
	}
	 100% {
		 background-position: 100% 50%;
	}
}

.background {
     font-weight: 700;
     /* Royalty free picture from https://www.pexels.com/*/
	 background: url(https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg) repeat-y;
	 -webkit-background-clip: text;
	 background-clip: text;
	 -webkit-text-fill-color: transparent;
	 -webkit-animation: background 50s linear infinite;
	 -webkit-transform: translate3d(0, 0, 0);
	 -webkit-backface-visibility: hidden;
}