/**
 * /* By: https://github.com/patriciafelixx
 *
 * @format
 */

@keyframes beat {
	0% {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(0);
	}
}

.beat {
	color: #f7054f;
	display: block;
	animation: bounce 0.5s alternate infinite ease-in;
}
