/* By: https://github.com/patriciafelixx */

@keyframes beat {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
  }
  
  .beat {
  color: #F7054F;
  display: block;
  animation: bounce .5s alternate infinite ease-in;
  }