.blastAppear { color: white; position: relative; }
.blastAppear:after {
  content: 'Hacktoberfest animations';
  position: absolute;
  top: 5px; 
  left: 0;
  z-index: 1;
  text-shadow: none;
  background-image:
    linear-gradient(
      45deg,
      transparent 46%,
      hsla(48,20%,90%,1) 46%,
      hsla(48,20%,90%,1) 55%,
      transparent 0
    );
  background-size: .05em .06em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim
{
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
}