/**
 * /* By: https://github.com/panvicka
 *
 * @format
 */

.blend-in-out {	
	background: linear-gradient(90deg, rgba(100, 14, 25, 0), rgb(0, 0, 0), rgba(100, 14, 25, 0));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 50%;
	animation: blend-in-out 6s linear infinite;
	
}

@keyframes blend-in-out {
	0% {
		background-position-x: -250%;
	}
	100% {
		background-position-x: 250%;
	}
}
