blendin{
  background: green;
  animation: ani 1s;
  text-align: center;
  color: #fff;
}

@keyframes ani{
    from{
        letter-spacing: 35px;
        filter: blur(5px);
        opacity: 0;
    }to{
        letter-spacing: 0;
        filter: blur(0);
        opacity: 1px;
    }
}
