/**
 * /* By: https://github.com/aliheikal
 *
 * @format
 */

@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
.blinking-neon {
	font-size: calc(20px + 18vh);
	line-height: calc(20px + 20vh);
	text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
	color: #fff6a9;
	font-family: "Sacramento", cursive;
	text-align: center;
	animation: blinky 12s infinite;
	-webkit-animation: blinky 12s infinite;
}

@-webkit-keyframes blinky {
	20%,
	24%,
	55% {
		color: #111;
		text-shadow: none;
	}
	0%,
	19%,
	21%,
	23%,
	25%,
	54%,
	56%,
	100% {
		text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
		color: #fff6a9;
	}
}

@keyframes blinky {
	20%,
	24%,
	55% {
		color: #111;
		text-shadow: none;
	}
	0%,
	19%,
	21%,
	23%,
	25%,
	54%,
	56%,
	100% {
		text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
		color: #fff6a9;
	}
}