body {
    background-color: #182747;
    margin: 0;
}

div {
padding-left: 2rem;
}

.blink {
    color: #647E68;
    font-size: 3rem;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    50% {opacity: 0;}
}
