/**
 * /* By: https://github.com/JMustang
 *
 * @format
 */

.BluePulse {
    padding: 10px;
	position: relative;
	background: linear-gradient(60deg, #2616b6, #fff, #2616b6);
	background-size: 75%;
	animation: animate 3s ease-in-out infinite;
    transition: all 2s;
    border: 3px solid rgb(52, 0, 238);
    border-radius: 20px;
    box-shadow: 4px 4px 1px black, 0 0 25px blue, 0 0 15px darkblue;
}

.BluePulse::before,
.BluePulse::after{
	content: '🖖';
}

@keyframes animate {
	0% {
		margin-bottom: -40px;
		opacity: 0;
	}
	5% {
		letter-spacing: 10px;
		margin-bottom: -40px;
	}
	15% {
		opacity: 1;
	}
	20% {
		letter-spacing: 20px;
		margin-bottom: -40px;
	}
	80% {
		letter-spacing: 50px;
		margin-bottom: -40px;
	}
	85% {
		opacity: 1;
	}
	95% {
		letter-spacing:40px;
		margin-bottom: -40px;
	}
	100% {
		opacity: 0;
	}
}