/**
 * /* By: https://github.com/achen6159
 *
 * @format
 */

.blue-gradient {
	text-transform: uppercase;
	background-image: linear-gradient(
        0.35turn,
        #0905fc 0%,
		#401bfa 10%,
		#1b57fa 25%,
        #5988ff 50%,
		#3b96f7 64%,
		#59cff0 78%,
        #b6f5fc 100%
	);

	background-clip: border-box;
	background-size: 200% auto;
	color: #d2f8fc;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 3.5s ease infinite;
	font-size: 190px;
    font-family: "Nanum+Brush+Script", sans-serif;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}