/* https://github.com/cutted/ */

@-webkit-keyframes bop {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #b7b7b7,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

.bop {
  position: relative;
  top: 20px;
  -webkit-animation: bop 0.3s ease infinite alternate;
  text-shadow: 0 1px 0 #b7b7b7, 0 10px 10px rgba(0, 0, 0, 0.4);
}
