/**
 * /* By: https://github.com/wendelleloi
 *
 * @format
 */

@keyframes bounceAround {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-60px) rotate(0deg);
	}
	25% {
		transform: translateY(20px) rotate(0deg);
	}
	35%,
	55% {
		transform: translateY(0px) rotate(0deg);
	}
	60% {
		transform: translateY(-20px) rotate(0deg);
	}
	100% {
		transform: translateY(-20px) rotate(360deg);
	}
}

.bounceAround {
	background: #f6ad2d;
	color: white;
	text-transform: uppercase;
	font-size: 1.5em;
	width: auto;
	height: auto;
	position: relative;
	animation: bounceAround 1.1s ease-in-out infinite;
}
