.bouncing{
    cursor: default;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Chewy', cursive;
    font-size: 80px;
    color: red;
    text-align: center;
    line-height: 100px;
    text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, .6);
   }

   @keyframes bounce {
    100% {
    top: -30px;
   
    text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 #CCC,
    0 7px 0 #CCC,
    0 8px 0 #CCC,
    0 9px 0 #CCC,
    0 30px 30px rgba(0, 0, 0, .3);
    }
   }
