@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


.bounceReflection {
  
  color: #ff1b6b;
  padding-top: 30px;
  font-family: 'Coiny', cursive;
  text-align: center;
  font-size: 70px;
  -webkit-animation: bounceReflection .4s ease infinite alternate;
}

@keyframes bounceReflection {
  0% {
    text-shadow:
                0 5px 0 #ccc,
                0 2px 3px rgba(0, 0, 0, 1);  
}
100% {
  transform:translateY(-20px);
  text-shadow:  0 50px 0 #45caff,
                0 0px 20px rgba(0, 0, 0, .8);
}
}
