/**
 * /* By: https://github.com/igorbrands
 *
 * @format
 */
@keyframes colorBar {
	0% {
		background-position: 30% 50%;
	}
	50% {
		background-position: 25% 50%;
	}
	100% {
		background-position: 30% 50%;
	}
}

.brasil {
	vertical-align: middle;
	text-align: center;
	font-family: monospace, cursive;
	color: #16b83e;
	background: linear-gradient(110deg, #ffe11f 33%, rgba(0, 0, 0, 0) 33%),
		linear-gradient(110deg, #16b83e 34%, #1651b8 34%);
	background-size: 400%;
}
.brasil {
	animation: colorBar 5s ease infinite;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
}

.brasil::before,
.brasil::after {
	content: '🇧🇷';
	-webkit-text-fill-color: none;
}
