/**
 * /* By: https://github.com/runningdeveloper
 *
 * @format
 */

@keyframes breathe {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
		color: #0080ff;
	}
	100% {
		transform: scale(1);
	}
}
@keyframes gas {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.breathe {
	animation: breathe 4s ease-in infinite normal;
}
.breathe:after {
	content: '💨';
	animation: gas 4s ease-in-out infinite normal;
}
