/**
 * /* By: https://github.com/antonioleutsch
 *
 * @format
 */

@import url('https://rsms.me/inter/inter.css');

.cardy {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  .cardy {
    font-family: 'Inter var', sans-serif;
  }
}

@-webkit-keyframes cardy {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cardy {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.cardy {
  display: table;
  margin-left: 0;
  line-height: 1;
  background-color: white;
  box-shadow: 0 1px 3px rgb(0 0 0 / 37%);
  padding: 12px;
  position: relative;
  margin-bottom: 32px;
  text-align: center;
  color: #5f3448;
  width: 460px;
  height: 300px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  border-radius: 4px;
  font-weight: bold;
}

.cardy:before,
.cardy:after {
animation: cardy 2s ease infinite;
  animation-fill-mode: forwards;
  content: '';
  background: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 24%);
  position: absolute;
  width: 105%;
  height: 100%;
  top: 0;
  z-index: -1;
  border-radius: 4px;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);

  left: -2.5%;
}

.cardy:before {
  transform: matrix(-1, -0.04, -0.01, 1, 0, 0);
  animation-delay: .5s;
}

.cardy:after {
  transform: matrix(1, -0.04, 0.01, 1, 0, 0);
}