/** @format */

.changingTextShadow {
	font-family: 'Roboto', sans-serif;
	animation: changingTextShadow 0.5s infinite;
	font-size: 2rem;
	color: black;
}

@keyframes changingTextShadow {
	0% {
		text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
	}
	25% {
		text-shadow: 5px 7px 2px rgba(0,0,0,0.6);
    }
	50% {
		text-shadow: 9px 7px 5px rgba(0,0,0,0.6);
	}
	75% {
		text-shadow: 16px 7px 5px rgba(0,0,0,0.6);
	}
	100% {
		text-shadow: 16px 7px 5px rgba(0,0,0,0.6);
	}
}
