@keyframes chibata {
    0% {
        color: pink;
    }
    25% {
        color: blueviolet;
        font-size: 25px;
        ;
    }
    50% {
        color: greenyellow;
        font-size: 60px;
    }
    75% {
        color: indigo;
        font-size: 80px;
    }
    75% {
        color: black;
    }
    100% {
        color: orangered;
        font-size: 50px;
    }
}

.chibata {
    position: relative;
    animation-name: chibata;
    animation-duration: 4s;
    animation-delay: 1s;
    font-size: 40px;
    animation-iteration-count: 5;
}