/**
 * /* By: https://github.com/mel2121
 *
 * @format
 */

@keyframes chillerColor {
	0% {
		color: orange;
	}

	50% {
		color: black;
		font-size: 50px;
	}

	75% {
		color: orange;
	}
}

.chillerColor {
	position: relative;
	animation-name: chillerColor;
	animation-duration: 4s;
	animation-delay: 2s;
	font-size: 40px;
	animation-iteration-count: 7;
}
