/**

 * /* By: https://github.com/TheBangis

 *

 * @format

 */



@keyframes cLeft {

	5%,

	60%,

	75%,

	90%,

	to {

		animation-timing-function: cubic-bezier(0.215, 0.6, 0.355, 1);

	}



	5% {

		opacity: 1;

		transform: translate3d(3000px, 0, 0);

	}



	60% {

		opacity: 1;

		transform: translate3d(25px, 0, 0);

	}



	75% {

		transform: translate3d(50px, 0, 0);

	}



	90% {

		transform: translate3d(20px, 1, 1);

	}



	to {

		transform: none;

	}

}



.cLeft {

	animation-name: cLeft;
	
	text-align: center;
	
	color: #00FF00;
	
	font-size: 30px;
	
	font-family: Arial;
	
	animation-duration: 1s;

}
