@keyframes colourfull {
	0% {
		color: red;
	}

	40% {
		color: black;
	}

	80% {
		color: orange;
	}
}

.colourfull-ldt2020 {
	-webkit-animation-name: colourfull;
	animation-name: colourfull;
	animation-duration: 2s;
	animation-timing-function: ease-in-out, bezier;
}
