/**
 * /* By: https://github.com/ledangtuanbkhn
 *
 * @format
 */

@-webkit-keyframes Halooween {
	0% {
		background-position: 35% 50%;
	}

	50% {
		background-position: 20% 50%;
	}

	100% {
		background-position: 35% 50%;
	}
}

.halloween {
	animation: Halooween 5s ease infinite;
	background: linear-gradient(
			110deg,
			rgb(255, 140, 0) 28%,
			rgba(0, 0, 0, 0) 30%
		),
		linear-gradient(110deg, rgb(255, 69, 0) 34%, #000 40%);
	background-size: 400%;
	font-family: 'Pacifico', cursive;
	font-size: 40pt;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
