/**
 * /* By: https://github.com/123shuklaayush
 * @format
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #001300;
    animation: changeColor 5s linear infinite;
 }
 @keyframes changeColor {
    0%{
      font-family: 'Poppins', sans-serif;
        filter: hue-rotate(0deg);
        letter-spacing: 10px;
        color: #00ff0a;

    }
    100%{
   font-family: 'Poppins', sans-serif;
   letter-spacing: 10px;
        filter: hue-rotate(360deg);
        color: #00ff0a;
    }
 }