/**
 * /* By: https://github.com/hurleyandrew
 *
 * @format
 */

@keyframes colourfull {
	0% {
		color: red;
	}

	50% {
		color: black;
	}

	100% {
		color: orange;
	}
}

.colourfull-ldt {
	-webkit-animation-name: colourfull;
	animation-name: colourfull;
	animation-duration: 1s;
	animation-timing-function: ease-in-out, bezier;
}
