/* By: https://github.com/aihowes */

@keyframes coming-together {
  from {
    word-spacing: 100vw;
  }

  to {
    word-spacing: 10px;
  }

}

.coming-together {
  display: flex;
  white-space: nowrap;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  animation: coming-together 1s   infinite;
  position: relative;
}
.coming-together::after,
.coming-together::before {
  content: "";
  display: flex;
  width: 24px;
  height: 24px;
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  margin: 20px;
}

.coming-together::after {
  transform: rotate(135deg);
}

.coming-together::before {
  transform: rotate(-45deg);
}