
/* By: https://github.com/Demysdcl */

@keyframes crazy-rotation {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.crazy-rotation {
  animation: crazy-rotation 3s linear infinite;
}