/* By: https://github.com/fernanDOTdo */

@keyframes crazy-monkey {
  0% {
    letter-spacing: -5px;
  }

  20% {
    letter-spacing: 5px;  
  }

  80% {
    letter-spacing: 10px;
  }

  100% {
    letter-spacing: -5px;
  }
}

.crazy-monkey {
  white-space: nowrap;
  text-transform: uppercase;
  animation: crazy-monkey 3s ease-in-out infinite;
  color: #EB007D;
}

.crazy-monkey::before,
.crazy-monkey::after {
  content: "🙊🙉🙈";
}