.crt-flicker {
    background: #111;
    padding: 1em;
    text-transform: uppercase;
    border-radius: 1em;
    color: #eee;
    font-size: 1em;
    line-height: 1;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
  
@keyframes textflicker {
    from {
        text-shadow: 2px 0 0 #ea36af, -3px 0 0 #75fa69;
    }
    to {
        text-shadow: 3px 0.5px 3px #ea36af, -2px -0.5px 3px #75fa69;
    }
}