/** @format */

.crtwarp {
	letter-spacing: 0.125em;
	animation-duration: 1s;
	animation-name: crtwarp;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes crtwarp {
	0% {
		transform: translateY(0);
		text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
	}

	20% {
		transform: translateY(-1em);
		text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b,
			0 -0.25em 0 #fefc4b;
	}

	40% {
		transform: translateY(0.5em);
		text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
			0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
	}

	60% {
		transform: translateY(-0.25em);
		text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
			0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
	}

	80% {
		transform: translateY(0);
		text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
	}
}
