/**
 * /* By: https://github.com/giuliano-marcus-bianco
 *
 * @format
 */


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');


.cyberpunk {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 15rem !important;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    transform: scale(1,1.5);
    filter: drop-shadow(0 0 28px #2A2356 ) drop-shadow(0 0 50px #2A2356);

    min-height:40vh;
    min-width: 100vw;
    color: transparent;
    background-image: url(https://i.pinimg.com/originals/0c/54/3e/0c543e3b0a995b117ec966a0681a7233.gif);
    background-size: auto;
	-webkit-background-clip: text;
    
}

.cyberpunk::before {
    content:attr(data-text);
    position: absolute;
    color: transparent;
    background-image: url(https://i.pinimg.com/originals/0c/54/3e/0c543e3b0a995b117ec966a0681a7233.gif);
    background-size: auto;
	-webkit-background-clip: text;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #C252E2;
    animation: glowLeft 5s linear infinite;
    filter: drop-shadow(0 0 28px #C252E2 ) drop-shadow(0 0 50px #C252E2);
 }        

 
 @keyframes glowLeft{
     0%,10%,100%{
         width:0;
     }
     70%,90%{
         width: 100%;
     }
 }