/**
 * /* By: https://github.com/zerossb
 *
 * @format
 */

@keyframes dances {
	0% {
		color: #ffffff;
	}

	10% {
		color: #ff0000;
	}

	20% {
		color: #ffff00;
	}

	30% {
		color: #00ff00;
	}

	40% {
		color: #00ffff;
	}

	50% {
		color: #0000ff;
	}

	60% {
		color: #00ffff;
	}

	70% {
		color: #00ff00;
	}

	80% {
		color: #ffff00;
	}

	90% {
		color: #ffff00;
	}

	100% {
		color: #ffffff;
	}
}

.dances {
	animation: dances 5s linear infinite;
	animation-timing-function: ease;
	-webkit-animation: dropbr 1s ease-in-out infinite;
	-webkit-animation-timing-function: ease;
	transform-origin: 10% 10%;
}
