/** @format */

@import url(https://fonts.googleapis.com/css?family=Righteous);

.dang {
	color: white;
	font-family: 'Righteous', serif;
	font-size: 12em;
	text-shadow: 0.03em 0.03em 0 hsla(230, 40%, 50%, 1);
	position: relative;
}
.dang:after {
	content: attr(data-text);
	position: absolute;
	top: 0.2em;
	left: 0.2em;
	z-index: -1;
	text-shadow: none;
	background-image: linear-gradient(
		45deg,
		transparent 45%,
		hsla(48, 20%, 90%, 1) 45%,
		hsla(48, 20%, 90%, 1) 55%,
		transparent 0
	);
	background-size: 0.05em 0.05em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: dang 15s linear infinite;
	width: 100%;
}

@keyframes dang {
	0% {
		background-position: 0 0;
	}
	0% {
		background-position: 100% -100%;
	}
}
