@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@keyframes dayNight {
    0% {
        color: rgb(25, 25, 97);
        transform: skewX(20deg)
    }
    20% {
        color: rgb(169, 164, 247);
        transform: skewX(20deg);
    }
    40% {
        color: rgb(247, 205, 93);
    }
    60%{
        color: rgb(232, 179, 25);
    }
    80%{
        color: rgb(120, 120, 230);
        transform: skewX(-20deg)
    }
    100%{
        color: rgb(25, 25, 97);
        transform: skewX(20deg)
    }

}

.dayNight {
    animation: dayNight 2s infinite;
    font-family: 'Rubik';
}
