@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@keyframes deboneil {
    to {
        background-position: 400% center;
      }
}

.aesthetic{
    outline: none;
    background: linear-gradient(135deg, #f80042, #0cff04, #b1f200, #1200ae, #000000);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: deboneil 10s alternate infinite;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}