/**
 * /* By: https://github.com/lovetyagi-17
 *
 * @format
 */

@keyframes doubleBorder {
    from {
		border-top: 10px #1dd8d8 solid;
		border-bottom: 10px #f35fec solid;
		border-left: 10px #98e969 solid;
		border-right: 10px #dbdd47 solid;
	}
	to {
		border-top: 10px #19e7e7 solid;
		border-bottom: 10px #e643c2 solid;
		border-left: 10px #70e03c solid;
		border-right: 10px #eeeb49 solid;
	}
} 
.doubleBorder{
    animation: blend;
    padding: 20px;
    position: relative;
	border-top: 10px #e4e13b solid;
	border-bottom: 10px #d44398 solid;
	border-right: 10px #80b9e7 solid;
	border-left: 10px #4bca56 solid;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	letter-spacing: 3px;
}

.doubleBorder:after {
	animation: borderPulse 2s ease-in-out infinite;
	border-top: 10px #4bca56 solid;
	border-bottom: 10px #4bca56 solid;
	border-right: 10px #e65fad solid;
	border-left: 10px #e65fad solid;
	content: '';
	display: block;
	margin: -15px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale(1);
}
