*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1f20;
}
h1{
    font-family: "Incosolata", Consolas, monospace;
    font-size: 4em;
    color: #d7b94c;
}
.typewriter{
    position: relative;
}
.typewriter::after{
    content: '|';
    position: absolute;
    right: 0;
    color: white;
    background-color: #1d1f20;
    width: 100%;
    animation: typing 3s steps(14) alternate infinite,
                line 1s infinite;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line {
    50%{
        color: transparent;
    }
}
