/**
 * /* By: https://github.com/anujpandey785
 *
 * @format
 */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

 .drop {
    position: relative;
    font-family: 'Pacifico', cursive;
    font-style: italic;
    animation: drop 3s linear infinite;
  }
  
  @keyframes drop {

    from {
      border-top: 10px #dd1568 solid;
      border-bottom: 10px #1c8318 solid;
      border-left: 10px #111dcc solid;
      border-right: 10px #8f0bdb solid;
    }
    to {
      border-top: 10px #dd1568 solid;
      border-bottom: 10px #1c8318 solid;
      border-left: 10px #111dcc solid;
      border-right: 10px #8f0bdb solid;
    }

    0% {
      transform: translateY(0vh);
    }
    50% {
      transform: translateY(90vh)rotate(45deg);
    }
    75% {
      transform: translateY(90vh)rotate(45deg);
    }
    85% {
      transform: translateY(90vh) rotate(360deg);
    }
    
  }
