/*@format*/



@keyframes stretch {
    0% {
      transform: scale(.3);
      background-color: red;
      border-radius: 100%;
    }
    50% {
      background-color: orange;
    }
    100% {
      transform: scale(1.5);
      background-color: yellow;
    }
  }


.ease-in-out{
    
        height: 400px;
        width: 400px;
        margin: 0 auto;
        background-color: red;
        animation-name: stretch;
        animation-duration: 1.5s; 
        animation-timing-function: ease-out; 
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      