 /* Contributed by : https://github.com/R0Y4L23*/
 
 @keyframes electron {
   0% {
     color: red;
     transform: rotateX(0deg);
   }

   17% {
     color: blue;
     transform: rotateX(360deg);
   }

   34% {
     color: green;
     transform: rotateY(0deg);
   }

   51% {
     color: yellow;
     transform: rotateY(360deg);
   }

   68% {
     color: orange;
     transform: rotateZ(0deg);
   }

   85% {
     color: brown;
     transform: rotateZ(360deg);
   }

   100% {
     color: pink;
   }
 }

 .electron {
   animation-name: electron;
   animation-duration: 4s;
   animation-timing-function: ease-in;
   animation-iteration-count: infinite;

 }