/**
 * /* By: https: //github.com/yakserr
 *
 * @format
 */


.emoticon-running::after {
  content: "🎇";
  position: absolute;
  max-width: 8em;
  white-space: nowrap;
  animation: emoticon-running 3s steps(40, end) infinite;
}

@keyframes emoticon-running {
  0% {
    width: 0;
    font-size: 0;
  }

  100% {
    width: 100%;
  }
}