.erroranimation {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
}

.erroranimation h1 {
  color: rgb(223, 191, 191);
  position: relative;
  font-size: 20vw;
  animation: glitch 3s 3s infinite;
}

.erroranimation::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  #background: black;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 3s 3.03s infinite;
}
