/**
 * /* By: https://github.com/aveselovalova
 *
 * @format
 */

@-webkit-keyframes escaping {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
}

@keyframes escaping {
  0% {opacity:1;}
  20% {opacity:1;}
  80% {opacity:0;}
  100% {opacity:0;}
}

.escaping {
  animation: escaping 2s infinite;
}
