@keyframes explode {
  0% {
  }

  5% {
    transform: scale(1.1);
  }

  10% {
    transform: scale(0.9) rotate(5deg);
  }

  15% {
    transform: scale(1.2);
  }

  20% {
    transform: scale(0.8) rotate(-5deg);
  }

  25% {
    transform: scale(1.3);
  }

  30% {
    transform: scale(0.7) rotate(5deg);
  }

  35% {
    transform: scale(1.5);
  }

  40% {
    transform: scale(0.4) rotate(-5deg);
  }

  50% {
    transform: scale(1.3);
    color: pink;
  }

  60% {
    transform: scale(0.9) rotate(5deg);
  }

  70% {
    transform: scale(5);
    color: red;
  }

  100% {
  }
}

.explode {
  animation-name: explode;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}