/* By: https://github.com/adsingh14 */

@keyframes fadeSlideUp {
  to {
    top: 0px;
    opacity: 1;
  }
}

.fadeSlideUp {
  animation: fadeSlideUp 0.7s ease forwards;
  opacity: 0;
  position: relative;
  top: 40px;
  transition: top 1s;
}