/* By https://github.com/pavan1645/ */

@keyframes fadeRollIn {
	from {
		transform: rotate(-90deg); 
		opacity: 0; 
	}

	to {
		transform: rotate(0deg);
		opacity: 1;
	}
}

.fadeRollIn {
	animation: fadeRollIn 1s;
	transform-origin: 0% 50%;
}