/**
 * /* By: https://github.com/LRK1696
 *
 * @format
 */


 
          
          @keyframes falling {
	
	0% {

	  transform-origin: top left;
	
	  animation-timing-function: ease-in-out;

	  color: aqua;
	}
          

	60% {
	
	  transform: rotate3d(0, 0, 1, 100deg);

	  transform-origin: top left;
	
	  animation-timing-function: ease-in-out;

	  color: aquamarine;
	}
   
	80% {
	
	  transform: rotate3d(0, 0, 1, 120deg);

	  transform-origin: bottom right;

	  animation-timing-function: ease-out;
	  opacity: 3;

	  color: cadetblue;
	}
          
	100% {

	  transform: translate3d(0, 500px, 0);
	  opacity: 2;

	 color: turquoise;
	}

	
          }
          
          .falling {
	
	animation-duration: 3s;
	animation-name: falling;
	
          }
          