/**
 *	By: ThePoptartCrpr
 */

.fancy-border {
	animation: fancy-border 7s infinite;
	
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

@keyframes fancy-border {
	0% {
		opacity: 0;
	}
	
	10% {
		transform: scale(1.15);
		opacity: 1;
	}
	
	15% {
		border-top: 5px solid transparent;
	}
	
	20% {
		border-top: 5px solid red;
		border-bottom: 5px solid transparent;
		transform: scale(1.1);
	}
	
	25% {
		border-bottom: 5px solid red;
	}
	
	65% {
		opacity: 1;
		border-color: red;
	}
	
	100% {
		opacity: 0;
		border-color: transparent;
		transform: scale(1);
	}
}
