.flipItAndTwistIt {
	animation: flipItAndTwistIt 2.5s steps(8, end) alternate-reverse both infinite;
}

 
@keyframes flipItAndTwistIt {
  0% {
    transform: scale(1) rotateX(0);
  }
  50% {
    transform: scale(2) rotateX(-180deg) rotate(10deg);
  }
  100% {
    transform: scale(1) rotateX(-360deg);
  }
}
