


(
  name: 'flip-o-create.css'
  author: 'ric-o-create'
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
}

#container {
  color:black;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;  
  position:fixed;
  width:100%;
  bottom:45%;
  display:block;
}

.flip-o-create {
  height:50px;
  overflow:hidden;
}

.flip-o-create > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

.flip-o-create div:first-child {
  animation: show 5s linear infinite;
}

.flip-o-create div div {
  background:lightblue;
}
.flip-o-create div:first-child div {
  background:lightgrey;
}
.flip-o-create div:last-child div {
  background:pink;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

p {
  position:fixed;
  width:100%;
  bottom:30px;
  font-size:12px;
  color:pink;
  margin-top:200px;
}
