/*
 * By: https://github.com/204G1A0542
 *
 * @format
 */

 @import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');
  
  .flipText {
    position: relative;
    font-size: 10px;
    color: rgb(6, 5, 44);
    text-transform: uppercase;
    text-shadow: 2px 2px #270202;
    animation: flip 4s infinite;
    
    animation-delay: calc(.10s * var(--i))
  }
  @keyframes flipText {
    0%,80% {
      transform: rotateX(180deg) 
    }
  }
  