.flip-text-animation {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #111;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  
  @keyframes flip-text-animation {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
