/** @format */

.floating {
	animation-name: floating;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floating {
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, 35px);
	}
	to {
		transform: translate(0, -0px);
	}
}
