/**
 * /* By: https://github.com/artorias111
 *
 * @format
 */


@import url("https://fonts.googleapis.com/css?family=Montserrat");

@keyframes color-change{
  0% {color: #f8efd4;}

  25% {color: #edc988;}

  50% {color: #de4463;}

  75% {color: #de4463;}

  100% {color: #f8efd4;}
 }
 



 .flow {
    font-family:'Montserrat';
    animation:color-change 1s infinite;
}