/**
 * /* By: https://github.com/artorias111
 *
 * @format
 */


@import url("https://fonts.googleapis.com/css?family=Montserrat");

.flow {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.flow:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.flow:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.flow:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.flow:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.flow:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}