/* By: https://github.com/Swong87 */

@keyframes focusBlur {
  0% {
    text-shadow: 0 0 100px #fff;
    opacity: 0;
  }

  5% {
    text-shadow: 0 0 90px #fff;
  }

  15% {
    opacity: 1;
  }

  20% {
    text-shadow: 0 0 0px #fff;
  }

  80% {
    text-shadow: 0 0 0px #fff;
  }

  85% {
    opacity: 1;
  }

  95% {
    text-shadow: 0 0 90px #fff;
  }

  100% {
    text-shadow: 0 0 100px #fff;
    opacity: 0;
  }
}

.focusBlur {
  color: transparent;
  animation: focusBlur 5s ease-out infinite;
}