.ghostRise {
  text-shadow: 0 0 15px black;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 300%;
  display: flex;
  animation: rise 4s linear infinite;
}

@keyframes rise {
  20% {
    opacity: 1;
    transform: translate(0,0) skew(0);
  }
  40% {
    transform: translate(0,-70%) skew(8deg);
  }
  60% {
    transform: translate(0,-120%) skew(-8deg);
  }
  80% {
    transform: translate(0,-150%) skew(5deg);
  }
  100% {
    opacity: 0;
    filter: blur(4px);
    transform: translate(0,-180%) skew(0);
  }
}
