/** @format */

@keyframes ghost {
	0% {
		opacity: 0.8;
		transform: translate(-10vw, 0vh);
	}
	10% {
		opacity: 0.3;
		transform: translate(20vw, 70vh);
	}

	20% {
		opacity: 0.8;
		transform: translate(-10vw, 0vh);
	}

	30% {
		opacity: 0.8;
		transform: translate(20vw, 0vh);
	}

	40% {
		opacity: 0.3;
		transform: translate(-10vw, 80vh);
	}

	50% {
		opacity: 0.8;
		transform: translate(-30vw, 0vh);
	}

	60% {
		opacity: 0.5;
		transform: translate(30vw, 30vh);
	}
	70% {
		opacity: 0.8;
		transform: translate(-30vw, 0vh);
	}
	80% {
		opacity: 0.3;
		transform: translate(20vw, -10vh);
	}
	90% {
		opacity: 0.8;
		transform: translate(-10vw, 20vh);
	}

	100% {
		opacity: 1;
	}
}

.ghost {
	animation: ghost 20s;
	animation-fill-mode: forwards;
	color: white;
	text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

.ghost::before,
.ghost::after {
	content: '👻';
}
