/**
 * /* By: https://github.com/dansegliode
 *
 * @format
 */

@keyframes glitch {
	0% {
		transform: scale(1);
	}

	20% {
		transform: scale(1.2);
	}

	40% {
		transform: scale(1);
	}

	60% {
		transform: scale(0.8);
	}

	80% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	} /* By: https://github.com/cnsumner */
}

.glitch {
	animation-name: glitch;
	animation-duration: 0.8s;
	animation-timing-function: step-end;
}
