@keyframes glow {
  0% {
    text-shadow: none;

    color: #CCC;
  }



  70% {
    text-shadow: 0 0 30px #ffa500, 0 0 40px #ffa500, 0 0 40px #ffa500 , 0 0 60px #ffa500, 0 0 60px #ff3333, 0 0 30px #ffa500, 0 0 98px #ff3333;
    color: #FFF;

  }

  100% {
    text-shadow: none;
    color: #ccc;
  }

}
.glowing {

  text-shadow: none;
  animation: glow 8s infinite;
}

