.glowRainbow{
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1rem 3rem;
    font-size: 200px;
    color: rgb(85, 247, 212);
    animation: glowRainbow 5s linear infinite;
    text-shadow: 0px 0px 8px white;
}

@keyframes glowRainbow {
  0% {
    filter: hue-rotate(0deg);

  }
  100% {
    filter: hue-rotate(360deg);
  }
}
