.glow-hover{
	color: rgb(128, 90, 108);
	transition: all ease-in-out 0.3s;
}

.glow-hover:hover{
	color: rgb(253, 167, 207);
	text-shadow: 0 0 10px rgb(253, 167, 207),
				 0 0 20px rgb(253, 167, 207), 
				 0 0 40px rgb(253, 167, 207);
}