.gradient-type{
    opacity: 0;
    font-family: "Work Sans", sans-serif;
    margin: 0 auto auto auto;
    background: linear-gradient(to right, #95b8f8, #5582fe, #8f6cc0);
    font-weight: 800;
    font-size: 62px;  
    width: 485px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
  }
  
  @keyframes shring-animation {
    0% {
      background-position: 0 0;
      opacity: 0;
      width: 0;
    }
    1% {
      background-position: 0 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    50% {
      background-position: 150px 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    100% {
      background-position: 400px 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  