
/**
 * /* By: https://github.com/TechoChat
 *
 * @format
 */

.grow {
    animation: grow 2s ease infinite;
  }
  @keyframes grow {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }