
 @keyframes drown2 {
    0% 
    {
        top:50px; left:0px; color: rgb(162, 184, 242);
        font-size: small;
    }
    20%
    {
        top:50px; left:20px; color: rgb(100, 121, 238);
        font-size: medium;
    }
    40%
    {
        top:50px; left:40px; color: rgb(73, 125, 237);
        font-size: large;
    }
    60% 
    {
        top:50px; left:60px; color: rgb(39, 72, 235);
        font-size: x-large;
    }
    80%
    {
        top:50px; left:80px; color: rgb(6, 27, 223);
        font-size: xx-large;
    }
    100%
    {
        top:50px; left:0px; color: rgb(162, 184, 242);
        font-size: small;
    }
}

.drown2 {

    padding: 10px;
    margin-top: 10px;

    background-size: 320px;
    width: 270px;
    height: 100px;
    border: solid 2px;
    border-radius: 20px;

	position: relative;
    text-align: center;
    animation: drown2 10s infinite;
}