{
    name: 'hacktoberfestFlip',
    author: 'saclig202'
}

.hacktoberfestFlip {
  position: relative;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2.5s infinite;
  animation-delay: calc(2)
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
