/**
 * /* By: https://github.com/bolajiscott
 *
 * @format
 */

.haleemah {
	color: rgb(255, 255, 255);
	background-image: url(https://media.giphy.com/media/xTiTnETzih3HYCaw2Q/giphy.gif);
	background-size: cover;
	color: transparent;
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}
