/**
 * /By: https://github.com/harjotSmashes
 *
 * @format
 */

.harjotSmashes {
    font-family: Bowlby One SC, sans-serif;
	font-weight: 700;
    animation: harjotSmash 2s ease-out;
}

@keyframes harjotSmash {
    15% { transform: scale(5); }
    20% { transform: scale(1) translate(2%, 5%); }
    23% { transform:  translate(3%, 2%); }
    25% { transform:  translate(1%, 4%); }
    27% { transform:  translate(3%, 1%); }
    28% { transform: scale(1) translate(0%, 0%); 
        text-shadow: 0 0.2em #222;
    }
    35% { text-shadow: 0 0  #222; }
}
