/**
 * /* By: https://github.com/naftalima
 *
 * @format
 */

 @keyframes harrypotter {
	0% {
		transform: scale(10);
	}
	50% {
		transform: scale(1);
	}
}

.harrypotter {
    font-family: 'Helvetica Neue', 'Helvetica';
    /* font-family: Times; */
	text-transform: uppercase;
	color: #DAA520;
	/* -webkit-text-stroke: 2px #DAA520; */
	filter: drop-shadow(0 0 25px rgb(192, 192, 192));
	text-align: center;
	animation: harrypotter 5s infinite;
}

.harrypotter::after {
    content: ' 👓⚡ ';
}
