/**
 * /* By: https://github.com/medival
 * @format
 */

.hinge {
	animation: animationFrames ease 3s;
	animation-iteration-count: infinite;
	transform-origin: 0% 0%;
	animation-fill-mode: forwards; /*when the spec is finished*/
	-webkit-animation: animationFrames ease 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 0% 0%;
	-webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
	-moz-animation: animationFrames ease 3s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 0% 0%;
	-moz-animation-fill-mode: forwards; /*FF 5+*/
	-o-animation: animationFrames ease 3s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 0% 0%;
	-o-animation-fill-mode: forwards; /*Not implemented yet*/
	-ms-animation: animationFrames ease 3s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 0% 0%;
	-ms-animation-fill-mode: forwards; /*IE 10+*/
}

@keyframes animationFrames {
	0% {
		transform: translate(-27px, -26px) rotate(0deg);
	}
	20% {
		transform: translate(-27px, -26px) rotate(60deg);
	}
	40% {
		transform: translate(-27px, -26px) rotate(40deg);
	}
	60% {
		transform: translate(-27px, -26px) rotate(54deg);
	}
	80% {
		transform: translate(-27px, -26px) rotate(42deg);
	}
	100% {
		transform: translate(-27px, -26px) rotate(46deg);
	}
}

@-moz-keyframes animationFrames {
	0% {
		-moz-transform: translate(-27px, -26px) rotate(0deg);
	}
	20% {
		-moz-transform: translate(-27px, -26px) rotate(60deg);
	}
	40% {
		-moz-transform: translate(-27px, -26px) rotate(40deg);
	}
	60% {
		-moz-transform: translate(-27px, -26px) rotate(54deg);
	}
	80% {
		-moz-transform: translate(-27px, -26px) rotate(42deg);
	}
	100% {
		-moz-transform: translate(-27px, -26px) rotate(46deg);
	}
}

@-webkit-keyframes animationFrames {
	0% {
		-webkit-transform: translate(-27px, -26px) rotate(0deg);
	}
	20% {
		-webkit-transform: translate(-27px, -26px) rotate(60deg);
	}
	40% {
		-webkit-transform: translate(-27px, -26px) rotate(40deg);
	}
	60% {
		-webkit-transform: translate(-27px, -26px) rotate(54deg);
	}
	80% {
		-webkit-transform: translate(-27px, -26px) rotate(42deg);
	}
	100% {
		-webkit-transform: translate(-27px, -26px) rotate(46deg);
	}
}

@-o-keyframes animationFrames {
	0% {
		-o-transform: translate(-27px, -26px) rotate(0deg);
	}
	20% {
		-o-transform: translate(-27px, -26px) rotate(60deg);
	}
	40% {
		-o-transform: translate(-27px, -26px) rotate(40deg);
	}
	60% {
		-o-transform: translate(-27px, -26px) rotate(54deg);
	}
	80% {
		-o-transform: translate(-27px, -26px) rotate(42deg);
	}
	100% {
		-o-transform: translate(-27px, -26px) rotate(46deg);
	}
}

@-ms-keyframes animationFrames {
	0% {
		-ms-transform: translate(-27px, -26px) rotate(0deg);
	}
	20% {
		-ms-transform: translate(-27px, -26px) rotate(60deg);
	}
	40% {
		-ms-transform: translate(-27px, -26px) rotate(40deg);
	}
	60% {
		-ms-transform: translate(-27px, -26px) rotate(54deg);
	}
	80% {
		-ms-transform: translate(-27px, -26px) rotate(42deg);
	}
	100% {
		-ms-transform: translate(-27px, -26px) rotate(46deg);
	}
}
