/**
 * By: https://github.com/Kadugs
 *
 * @format */

@keyframes hit-the-corner {
	0% {
		top: -10rem;
		left: -20.5rem;
		background: rgb(52, 240, 52);
	}
	16.6% {
		top: 27rem;
		left: 20.5rem;
		background: rgb(112, 228, 248);
	}
	33.3% {
		top: 10rem;
		left: -20.5rem;
		background: rgb(255, 90, 90);
	}
	49.99% {
		top: -10rem;
		left: 20.5rem;
		background: rgb(236, 66, 171);
	}
	66.6% {
		top: 27rem;
		left: -20.5rem;
		background: rgb(245, 98, 98);
	}
	82% {
		top: 10rem;
		left: 20.5rem;
		background: rgb(94, 211, 246);
	}
	100% {
		top: -10rem;
		left: -21rem;
		background: rgb(77, 245, 77);
	}
}

.hit-the-corner {
	animation: hit-the-corner 25s infinite;
	color: black;
	position: relative;
	font-family: sans-serif;
}
