
.hover_zoom_glow{
    font-family: 'Rockwell';
    color: rgb(143, 119, 119);
}
.hover_zoom_glow:hover
{
color:rgb(137, 132, 132);
text-shadow: 0 0 10px rgb(79, 18, 18),
                0 0 20px rgb(26, 21, 84),
                0 0 40px rgb(75, 79, 15),
                0 0 80px rgb(66, 126, 124),
                0 0 120px rgb(126, 78, 78),
                0 0 160px rgb(187, 187, 187);
}
.hover_zoom_glow:hover{
    transition: 2s ease-in-out;
    transform:scale(1.5);
}