/* By: https://github.com/marcosceo */

@keyframes huricane {
0% {
    transform: scale(0) rotate(0deg);
}

100% {
    transform: scale(1) rotate(1080deg);
}
}

.huricane {
animation: huricane 3s ease-in-out;
}