@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.hypnotize {
    font-family: 'Silkscreen', cursive;
    color: pink;
    text-shadow: 
    0 0px #f72585, 
    0 0px #b5179e, 
    0 0px #7209b7,
    0 0px #560bad,
    0 0px #480ca8,
    0 0px #3a0ca3;
    animation: 2.2s hypnotize cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

@keyframes hypnotize {
	
	10% {
		text-shadow: 
        0 5px #f72585,
        0 0px #b5179e, 
        0 0px #7209b7,
        0 0px #560bad,
        0 0px #480ca8,
        0 0px #3a0ca3;
	}
	20% {
		text-shadow: 
        0 5px #f72585,
        0 10px #b5179e, 
        0 0px #7209b7,
        0 0px #560bad,
        0 0px #480ca8,
        0 0px #3a0ca3;
	}
	30% {
		text-shadow: 
        0 5px #f72585,
        0 10px #b5179e, 
        0 15px #7209b7,
        0 0px #560bad,
        0 0px #480ca8,
        0 0px #3a0ca3;
	}
	40% {
		text-shadow: 
        0 5px #f72585,
        0 10px #b5179e, 
        0 15px #7209b7,
        0 20px #560bad,
        0 0px #480ca8,
        0 0px #3a0ca3;
	}
	50% {
		text-shadow: 
        0 5px #f72585,
        0 10px #b5179e, 
        0 15px #7209b7,
        0 20px #560bad,
        0 25px #480ca8,
        0 0px #3a0ca3;
	}
	60% {
		text-shadow: 
        0 5px #f72585,
        0 10px #b5179e, 
        0 15px #7209b7,
        0 20px #560bad,
        0 25px #480ca8,
        0 30px #3a0ca3;
	}
	80% {
		text-shadow: 
        0 10px #f72585, 
        0 15px #b5179e, 
        0 20px #7209b7,
        0 25px #560bad,
        0 30px #480ca8,
        0 35px #3a0ca3;
	}
    85% {
        transform: translateY(0px)
    }
    90% {
		text-shadow: 
        0 0px #f72585,
        0 0px #b5179e, 
        0 0px #7209b7,
        0 0px #560bad,
        0 0px #480ca8,
        0 0px #3a0ca3;
	}
    95% {
        transform: translateY(-10px)
    }
    99% {
        transform: translateY(0px)
    }
}