@keyframes glow {
	0% {
		text-shadow: none;

		color: #fff;
	}

	70% {
		text-shadow: -2px 2px 0 #882b06, 2px 2px 0 #882b06, 2px 2px 0 #882b06, 4px 4px 0 #882b06 ;

	}

	100% {
		text-shadow: none;
		color: #fff;
	}
}
.illuminate{
    background: #12c2e9;  
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); 
	text-shadow: none;
	animation: glow 4s infinite;
}