

@keyframes jeetchak {
	0% {
		transform: rotate(0);
	}

	

	50% {
		transform: rotate(270deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(180deg);
	}
}

.jeetchak {
	animation: jeetchak 3s linear infinite;
}
