/**
 * /* By: https://github.com/adsingh14
 *
 * @format
 */

@keyframes jello {
	0%,
	100% {
		transform: scale(1, 1);
	}

	29%,
	49% {
		transform: scale(1.3, 1);
	}

	35% {
		transform: scale(1, 1.05);
	}

	50%,
	70% {
		transform: scale(1.1, 1);
	}

	60% {
		transform: scale(1, 1);
	}
}

.jello {
	animation: jello 0.8s ease;
}
