/*
 * @format
 */

 @keyframes jelly-vertical {
	0%,
	100% {
		transform: scale(1, 1);
	}

	29%,
	49% {
		transform: scale(1, 1.5);
	}

	35% {
		transform: scale(1, 1.3);
	}

	50%,
	70% {
		transform: scale(1, 1.5);
	}

	60% {
		transform: scale(1, 1);
	}
}

.jelly-vertical {
	animation: jelly-vertical 0.8s ease;
}