/*H1 Element*/
.jkAnim{
    position: relative;
}

.jkAnim::before , .jkAnim::after{
    content: '';
    height: 100%;
    position: absolute;
}

.jkAnim::before{
    z-index: -10;
    background-color:  #6883BA;
    animation: jkAnimLeft 2s infinite;
}

.jkAnim::after{
    z-index: -10;
    background-color: #6b6b6b;
    animation: jkAnimRight 2s infinite;
}

@keyframes jkAnimLeft {
    25% {
        width: 0%;
        left: 0;
    }
    50%{
        width: 50%;
        left: 0;
    }
    75%{
        width: 0%;
        left: 100%;
    }
}

@keyframes jkAnimRight {
    25% {
        width: 0%;
        right: 0;
    }
    50%{
        width: 50%;
        right: 0;
    }
    75%{
        width: 0%;
        right: 100%;
    }
}