/** @format */

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.lava-animation {
	text-transform: uppercase;
	margin: 200px auto 0 auto;
	text-align: center;
	color: rgba(255, 255, 255, 0.2);
	background: url('https://media0.giphy.com/media/l378sOvgHwmw7G21q/giphy.gif')
		repeat-x;
	-webkit-background-clip: text;
	background-size: contain;
	animation: fire 15s ease-in infinite;
	font-size: 6rem;
	font-family: 'Nosifer';
}

@keyframes fire {
	0% {
		background-position: left 0 top 25px;
	}
	50% {
		background-position: left 130px top -35px;
	}
	100% {
		background-position: left 250px top 0;
	}
}
