@keyframes lightSpeedInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		transform: translate3d(100%, 0, 0) skewX(-30deg)
	}

	60% {
		opacity: 1;
		-webkit-transform: skewX(20deg);
		transform: skewX(20deg)
	}

	80% {
		-webkit-transform: skewX(-5deg);
		transform: skewX(-5deg)
	}

	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.lightSpeedInRight {
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: lightSpeedInRight;
	animation-timing-function: ease-out
}