/**
 * /* By: https://github.com/dansegliode
 *
 * @format
 */

@keyframes littleToBiggerRainbow {
	0% {
		color: #12de41;
		transform: scale(0.1);
	}

	10% {
		color: #12debf;
		transform: scale(0.2);
	}

	20% {
		color: #c5ed13;
		transform: scale(0.3);
	}

	30% {
		color: #ff7e0d;
		transform: scale(0.4);
	}

	40% {
		color: #3a15cf;
		transform: scale(0.5);
	}

	50% {
		color: #cf8d15;
		transform: scale(0.6);
	}
	60% {
		color: #f5d189;
		transform: scale(0.7);
	}
	70% {
		color: #6b2670;
		transform: scale(0.8);
	}
	80% {
		color: #f2021e;
		transform: scale(0.9);
	}
	90% {
		color: #eaf202;
		transform: scale(1);
	}
	100% {
		color: #12de41;
	}
}

.littleToBiggerRainbow {
	animation-name: littleToBiggerRainbow;
	animation-duration: 1.5s;
	color: #fc6f03;
}
