@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

h1 {
  color: #23204c;
  -webkit-animation-name: hacktober; 
  -webkit-animation-duration: 5s; 
  -webkit-animation-iteration-count: infinite; 
  animation-name: hacktober;
  animation-duration: 5s;
  position: relative;
  text-align: center;
  animation-iteration-count: infinite;
  font-family: 'Russo One', sans-serif;
  text-shadow: #e13d7d 0px 0px 30px;

}

@-webkit-keyframes hacktober {
  0%   {color: #901fbf; left:0px; text-shadow: #901fbf 0px 0px 30px;}
  20%  {color: #a921c8; left:100px; text-shadow: #a921c8 0px 0px 30px;}
  50%  {color: #9721c8; left:0px; text-shadow: #9721c8 0px 0px 30px;}
  80% {color: #da0cb5; left:-100px; text-shadow: #da0cb5 0px 0px 30px;}
  100% {color: #e13d7d; left:0; text-shadow: #e13d7d 0px 0px 30px;}
}

@keyframes hacktober {
  0%   {color: #901fbf; left:0px; text-shadow: #901fbf 0px 0px 30px;}
  20%  {color: #a921c8; left:100px; text-shadow: #a921c8 0px 0px 30px;}
  50%  {color: #9721c8; left:0px; text-shadow: #9721c8 0px 0px 30px;}
  80% {color: #da0cb5; left:-100px; text-shadow: #da0cb5 0px 0px 30px;}
  100% {color: #e13d7d; left:0; text-shadow: #e13d7d 0px 0px 30px;}
}



