@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

.luminous-brick {
    margin-top: 10rem;
    text-align: center;
    font-size: 9rem;
    text-align: center;
    font-weight: bold;
    -webkit-animation: luminous-brick 2s ease-in-out infinite alternate;
    -moz-animation: luminous-brick 2s ease-in-out infinite alternate;
    animation: luminous-brick 2s ease-in-out infinite alternate;
    background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    background-color: black;
    font-family: 'Codystar';
}

@keyframes luminous-brick {
    from {
        color: #fff;
        text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }
  
    to {
        color: gray;
        text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
}