
@keyframes mardiGras {
	0% {
		background: #600F97;
		color: #F8B619;
	}
	25% {
		background: #06BC40;
		color: #600F97;
	}
	50% {
		background: #F8B619;
		color: #06BC40;
	}
	75% {
		background: #600F97;
		color: #F8B619;
	}
	100% {
		background: #06BC40;
		color: #600F97;
	}
}

.mardiGras {
	animation: mardiGras;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	padding: 30px;
	position: relative;
	animation-direction: alternate;
}
