/**
 * /* By: https://github.com/lirabessa
 *
 * @format
 */



.marveLira {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: -10px 0 red;
    font-family: sans-serif;
	font-weight: 700;
    
   
}

.marveLira::before {
	content: '⍟';
}

.marveLira::after{
    content:  '➃';
}