/**
 * /* By: https://github.com/randy1369
 *
 * @format
 */

 .matrix {
	color: #fff;
	background-image: url(https://media.giphy.com/media/elzCnIQAjQMWA/giphy.gif);
	background-size: cover;
	color: transparent;
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}
