/**
 * /* By: https://github.com/ahsankhan26
 *
 * @format
 */

@keyframes animate {
	0% {
		background-position: -500%;
	}

	100% {
		background-position: 500%;
	}
}

.mindhunter {
	font-weight: 200;
	letter-spacing: 0px;
	position: relative;
	font-family: 'Open Sans';
	text-transform: uppercase;
	overflow: hidden;

	text-shadow: -1.25px -1.25px 0 #fff, 1.25px -1.25px 0 #fff,
		-1.25px 1.25px 0 #fff, 1.25px 1.25px 0 #fff;
	-webkit-transition: all 4s;
	-moz-transition: all 4s;
	-o-transition: all 4s;
	transition: all 4s ease-in-out;
}

.mindhunter:hover {
	text-shadow: 0px 0px #fff;
	letter-spacing: 15px;
}
