/* By: https://github.com/NiallEccles */

@keyframes mini-zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.mini-zoom {
  animation-name: mini-zoom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}