.move-around{
    color: #1f211e;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70px;
   animation: move-around 5s ease-in-out 1s infinite forwards;
   position: relative;
}

@keyframes move-around{
    0%{
        left: 0px;
        top: 0px;
        background-color: aquamarine;
    }
    20%{
        left: 100px;
        top: 0px;
        background-color: blueviolet;

    }
    40%{
        left: 100px;
        top: 100px;
        background-color: yellow;
    }
    60%{
        left: 0px;
        top: 100px;
        background-color: magenta;
    }
    80%{
        right: 100px;
        top: 100px;
        background-color: aliceblue;
    }
    100%{
        left: 0px;
        top: 0px;
        background-color: palevioletred;
    }
}