.movelineal {
  color: #fffdaf;
  border-radius: 10px;
  border: 3px dotted #fffdaf;
  animation: movelineal 3s infinite forwards;
  position: relative;
  padding: .25em;
}

@keyframes movelineal {
  0% {
    color: #ffd581;
    border: 3px dotted #ffd581;
    left: 0px;
    top: 0px;
  }

  25% {
    color: #ff3796;
    border: 3px dotted #ff3796;
    left: 200px;
    top: 0px;
    transform: rotate(45deg);
  }

  50% {
    color: #bf81ff;
    border: 3px dotted #bf81ff;
    transform: rotate(0deg);
    left: 200px;
    top: -50px;
  }

  75% {
    color: #61f2f5;
    border: 3px dotted #61f2f5;
    left: 0px;
    top: -50px;
    transform: rotate(-45deg)
  }

  100% {
    color: #fffdaf;
    border: 3px dotted #fffdaf;
    transform: rotate(0deg);
    left: 0px;
    top: 0px;
  }
}