/**
 *  * /* By: https://github.com/ClaudioFuriniJr
 *  *
 *  * @format
 *
 * @format
 */

.moving-shadow {
	color: white;
	position: relative;
}
.moving-shadow:after {
	content: 'Hacktoberfest animations';
	position: absolute;
	top: 4px;
	left: 0;
	z-index: 1;
	text-shadow: none;
	background-image: linear-gradient(
		45deg,
		transparent 45%,
		hsla(48, 20%, 90%, 1) 45%,
		hsla(48, 20%, 90%, 1) 55%,
		transparent 0
	);
	background-size: 0.05em 0.05em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: moving-shadow 15s linear infinite;
}

@keyframes moving-shadow {
	0% {
		background-position: 0 0;
	}
	0% {
		background-position: 100% -100%;
	}
}
