/**
 * /* By: https://github.com/jrmiranda
 *
 * @format
 */

@keyframes neon-blink {
	0%, 19%, 23%, 50%, 56% {
		opacity: .99;
	}

	20%, 55% {
		opacity: .2;
	}
}

.neon-blink {
	animation: neon-blink 1s linear infinite;
	perspective: 600px;
	text-shadow: 3px 0px 4px #FFD5FF, 2px 3px 15px #7a2cd4, 2px 0px 15px, 5px 0px 50px, 20px 0vw 100px #7a2cd4;
}
