/* By: https://github.com/adrianobiolchi */

.neonplus {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

  color: #fff;
  font-family: 'Monoton';
  -webkit-animation: neonplus 2.5s ease-in-out infinite alternate;
  -moz-animation: neonplus 2.5s ease-in-out infinite alternate;
  animation: neonplus 2.5s ease-in-out infinite alternate;
}

.neonplus:hover {
  color: #e74c3c;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

@-webkit-keyframes neonplus {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e74c3c, 0 0 70px #e74c3c, 0 0 80px #e74c3c, 0 0 100px #e74c3c, 0 0 150px #e74c3c;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e74c3c, 0 0 35px #e74c3c, 0 0 40px #e74c3c, 0 0 50px #e74c3c, 0 0 75px #e74c3c;
  }
}