@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");

/* ------------------- */
#target {
  position: fixed;
  width: 100%;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  color: red;
  /* animation-name: head; */
  animation-name: head2;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.48, -0.06, 0.73, 0.93);
  transform: scale(0);
  margin: 0;
  background-color: black;
}

@keyframes head2 {
  0% {
    transform: scale(1);
    color: red;
  }
  100% {
    transform: translateX(15rem) translateY(22rem) scale(100);
    color: white;
  }
}
