/**
 * /* By: https://github.com/giuliaamaral
 *
 * @format
 */

 .on-fire {
	font-size: 9rem;
	font-weight: bold;
}


.on-fire{
    background-image: url('https://media.tenor.com/jnyLvpwBKOUAAAAi/fireplace-fire.gif');
    height: 8rem;
}



