.onfirehack {
  background-color: brown;
  height: 50px;
  width: 130px;
  padding-top: 15px;
  left: 0px;
  top: 0px;
  
  position: absolute;
  
  animation: onfirehanimation 8s ease-in-out infinite;
  color: red;

}

@keyframes onfirehanimation {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 300px;
    top: 0px;
  }
  50% {
    left: 300px;
    top: 150px;
  }
  75% {
    left: 0px;
    top: 150px;
  }
}

.onfirehack::before,
.onfirehack::after {
	content: '🔥';
}
