/**
 * /* By: https://github.com/GabrielaMattias
 *
 * @format
 */

@keyframes opacityText {
	0%,
	100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

.opacity-by-gabrielamattias {
	animation: 6s linear normal none infinite opacityText;
}
