/**
 * /* By: https://github.com/nymika
 *
 * @format
 */

 @keyframes peakyblinders {
	0% {
		transform: scale(10);
	}
	50% {
		transform: scale(1);
	}
}

@keyframes peakyblinders-border {
	0% {
		transform: scaleX(0);
	}
	50% {
		transform: scaleX(0);
	}
	85% {
		transform: scaleX(1);
	}
}

.peakyblinders {
	font-family: 'Cochin';
	text-transform: uppercase;
	color: gray;
	-webkit-text-stroke: 2px gray;
	filter: drop-shadow(0 0 15px rgba(0, 0, 0, 1));
	text-align: center;
	width: 8em;
	animation: peakyblinders 5s infinite;
}

.peakyblinders::before {
	display: inline-block;
	height: 2px;
	content: "by order of the";
	width: 9em;
	animation: peakyblinders-border 5s infinite;
}
