.pop-up {
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.777, 0.000, 0.179, 1.000) both;
	        animation: scale-up-center 0.8s cubic-bezier(0.777, 0.000, 0.179, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
