
    @import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");
.wrapper {
  display: flex;
  align-items: flex-start;
}
  p {
    font-size: 100px;
    font-family: Bowlby One SC, sans-serif;
    transform: scale(0.9, 1) rotatey(-10deg) translatey(0px);
    animation: 2.2s scaling cubic-bezier(0.45, 0, 0.55, 1) infinite;
    text-shadow: 0 0 #e8332e, 0 0 #fc9e05, 0 0 #891696;
    transform-origin: 50% 100%;
    color:white;
    position: relative;
    top: 10%;
    transform-style: preserve-3d;
    margin-right: 4px;
    
  }

@keyframes scaling {
  20% {
    text-shadow: 0px 0 #e8332e, 0px 0 #fc9e05, 0px 0 #891696;
    transform: scale(0.9, 1) rotatey(-10deg);
  }
  40% {
    transform: scale(0.9, 2) translatey(16px);
    text-shadow: -10px 0px #e8332e, -20px 0 #fc9e05, -30px 0 #891696;
  }
  60% {
    transform: scale(0.9, 1) rotatey(-5deg);
    text-shadow: 0px 0 #e8332e, 0px 0 #fc9e05, 0px 0 #891696;
  }
  80% {
    transform: scale(0.9, 2) translatey(16px);
    text-shadow: 10px 0px #e8332e, 20px 0 #fc9e05, 30px 0 #891696;
  }
}
@keyframes jump {
  20% {
    transform: translatey(0) scale(0);
    opacity: 0;
  }
  40% {
    transform: translatey(-50px) scale(1);
    opacity: 1;
  }
  60% {
    transform: translatey(0) scale(0);
    opacity: 0;
  }
  80% {
    transform: translatey(-50px) scale(1);
    opacity: 1;
  }
}
html {
  width: 100%;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: black;
}
  
