/** @format */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.press-start{
    font-family:'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 15px;
    font-size: 1.2rem !important;
    color: black;
    background-color:rgb(255, 255, 255);
    box-shadow: inset -.1em -.2em 3px rgb(0, 0, 0),inset .1em 0 3px rgb(0, 0, 0);
    border-radius: 2em;
    position: relative;
}
.press-start::before{
    content: '';
    position: absolute; 
    left:0px; top:0px;
    width: 100%;
    height: 100%;
    border-radius: 2em;
    border: 2px solid rgb(0, 0, 0); 
    animation: press 1s steps(2) 1s infinite;
}
.press-start:hover{
    cursor: pointer;
    background-color:rgb(248, 248, 248);
    box-shadow: none;
}
@keyframes press{
    0%{
        border: 2px solid rgb(0, 0, 0);
    }
    100%{
        border: 8px solid rgb(255, 0, 234);
    }
}