/** @format */

@keyframes pudding {
	0% {
		transform: skew(0deg 0deg);
	}
	30% {
		transform: skew(-25deg -25deg);
	}
	40% {
		transform: skew(15deg, 15deg);
	}
	50% {
		transform: skew(-15deg, -15deg);
	}
	65% {
		transform: skew(5deg, 5deg);
	}
	75% {
		transform: skew(-5deg, -5deg);
	}
	100% {
		transform: skew(0deg 0deg);
	}
}

.pudding {
	animation: pudding 0.8s 0.5s infinite alternate;
}
