/**
 * /* By: https://github.com/Samarth-Khatri
 *
 * @format
 */
.pulled {
  font-family: Bowlby One SC, sans-serif;
  font-weight: 700;
  animation: abcxyz 2s infinite;
}

@keyframes abcxyz {
  2%, 64% {
    transform: translate(5px, 0) skew(0deg);
  }

  4% {
    transform: translate(-5px, 0) skew(0deg);
  }

  40% {
    transform: skew(25deg);
  }

  50% {
    text-shadow: 2px 2px 0px #fff59d, 4px 4px 0px #ffd54f,
      6px 6px 0px #ff9800, 8px 8px 0px #d32f2f, 10px 10px 0px #c62828,
      12px 12px 0px #880e4f, 14px 14px 0px #880e4f, 16px 16px 0px #052939,
      20px 20px 0px #052939;
    color: red;
  }

  60% {
    transform: translate(-5px, 0) skew(0deg);
    transform: skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(10deg);
  }
}
