@keyframes pulse {
  0%,100%
  {
      text-shadow: 3px 3px 0 rgb(255, 132, 0),-2.5px
      -2.5px 0 rgb(255, 234, 0);
  }
  25%
  {
      text-shadow: 1.5px 1.5px 0 rgb(255, 132, 0),-1.5px
      -1.5px 0 rgb(255, 234, 0);
  }
  50%
  {
      text-shadow: 3px -3px 0 rgb(255, 132, 0),-2px
      2px 0 rgb(255, 234, 0);
  }
  75%
  {
      text-shadow: 1px -1px 0 rgb(255, 132, 0),-5px
      -5px 0 rgb(255, 234, 0);
  }
}

.pulse-y {
  color: #fff;
  animation: pulse 2s linear infinite;
  transition: 0.6;
}

.pulse-y:hover {
  color: rgb(171, 88, 0);
  transition: 0.8s;
}