/**
 * /* By: https://github.com/ashwoodall
 *
 * @format
 */

@keyframes pumpkins {
	0% {
		text-shadow: 0 0 100px rgb(182, 171, 71);
		opacity: 0;
	}

	5% {
		text-shadow: 0 0 90px rgb(182, 171, 71);
	}

	15% {
		opacity: 1;
	}

	20% {
		text-shadow: 0 0 0px rgb(182, 171, 71);
	}

	80% {
		text-shadow: 0 0 0px rgb(182, 171, 71);
	}

	85% {
		opacity: 1;
	}

	95% {
		text-shadow: 0 0 90px rgb(182, 171, 71);
	}

	100% {
		opacity: 0;
	}
}

.pumpkins {
	animation: pumpkins 3s ease-in-out infinite;
	color: orange;
}

.pumpkins::before,
.pumpkins::after {
	content: '🎃🎃';
}
