/** @format */

.purple {
	background-color: #d7790a;
	border-radius: 6px;
	border: 5px solid #f1ff5c;
	animation: bounce 1s ease-in-out infinite;
	transition: all 0.2s;
	box-shadow: 0 0.1em 0.5em 0.1em #ff8800;
	right: 4vh;
	left: 0.1%;
	padding: 2%;
}