
.racetrackzoom {
	color: #ffe;
	background-image: url('https://media1.tenor.com/images/b6ae5cbb329a9e426970a0a060136894/tenor.gif?itemid=11525795');
	background-size: cover;
	color: transparent;
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}
