

  .radial{
    /* set time duration to your needs */
    animation: gradient 2s infinite;
    background: #f88;
    color:gray;
    box-shadow: none;
   
    border: 2px;
    border-radius: 5px;
   
  }
  


@keyframes gradient {
    0% {
      background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
    }
    25% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
    }
    50% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
    }
    75% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
    }
    100% {
      color: #fff;
      background: radial-gradient(circle at center, #f88 99%, #fff 100%, #fff 100%);
    }
  }

  

