/* By: https://github.com/shanejustice */

@keyframes rainbow {
  0% {
    color: violet;
  }

  15% {
    color: indigo;
  }

  30% {
    color: blue;
  }

  45% {
    color: green;
  }

  60% {
    color: yellow;
  }

  75% {
    color: orange;
  }

  100% {
    color: red;
  }
}

.rainbow {
  animation-name: rainbow;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  transition-timing-function: linear;
}