/**
 * /* CHANGE THE COLOR SEQUENCE HERE
 *
 * @format
 */

@keyframes rainbow {
	0% {
		color: #fc0303;
	}
	17% {
		color: #45f52a;
	}
	34% {
		color: #2a7bf5;
	}
	51% {
		color: #2af5e4;
	}
	68% {
		color: #c92af5;
	}
	85% {
		color: #f5dd2a;
	}
	100% {
		color: #66655d;
	}
}

/* CHANGE THE ANIMATION SPEED HERE */
.rainbow-text {
	animation-name: rainbow;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
