.rainbowText{
    background-image: linear-gradient(45deg,#ff0000,#ff7f00,#ffff00,#00ff00,#0000ff,#4b0082,#9400d3);
    background-size: 400%;
    animation: rainbowText 8s linear infinite alternate;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4rem;
}

@keyframes rainbowText {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
