@keyframes raj {
	0% {
		color: rgb(172, 13, 172);
	}

	50% {
		color: black;
	}

	100% {
		color: rgb(255, 136, 0);
	}
}

.raj {
	-webkit-animation-name: colourfull;
	animation-name: raj;
	animation-duration: 2s;
	animation-timing-function: ease-in-out, bezier;
	background-color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 60px;
}
