/**
 * /* By: https://github.com/web2feel
 *
 * @format
 */

@keyframes inking {
	0% {
		transform: translateX(-100%);
	}
	50% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes redacted {
	0% {
		color: transparent;
	}
	50% {
		color: transparent;
	}
	51% {
		color: #fff;
	}

	100% {
		color: #fff;
	}
}

.redacted {
	position: relative;
	overflow: hidden;
	animation: redacted 3s;
	animation-timing-function: ease-in;
}
.redacted:before {
	opacity: 1;
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	line-height: 1;
	background: #fff;
	animation: inking 3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}
