/**
* /* By: https://github.com/DolenDeori
*
* @format 
*/

@keyframes repulsion {
	0% {
		word-spacing: 2rem;
	}
	50% {
		word-spacing: 10rem;
	}
	100% {
		word-spacing: 2rem;
	}
}

.repulsion {
	animation: repulsion 3s cubic-bezier(0.54, -0.07, 0, 1.02) infinite;
	color: #fff;
	word-spacing: 2rem;
}
