/** @format */

.reveal::before {
	content: '';
	position: absolute;
	width: 560px;
	height: 60px;
	background: #ff9f57;
	animation: reveal forwards 1.5s;
}

@keyframes reveal {
	0% {
		transform: scaleX(0);
		transform-origin: left;
	}
	49% {
		transform: scaleX(1);
		transform-origin: left;
	}
	50% {
		transform: scaleX(1);
		transform-origin: right;
	}
	100% {
		transform: scaleX(0);
		transform-origin: right;
	}
}
