@keyframes rgb-text{

    0%{
        color: #ff0000;
		text-shadow: 0 0 20px #ff0000;
    }

    15%{
        color: #ff8800;
		text-shadow: 0 0 20px #ff8800;
    }

    30%{
        color:#eeff00;
        text-shadow: 0 0 20px #eeff00;
    }
    
    45%{
        color: #00ff22;
        text-shadow: 0 0 20px #00ff22
    }

    60%{
        color: #00ffff;
        text-shadow: 0 0 20px #00ffff;
    }

    75%{
        color: #d400ff;
        text-shadow: 0 0 20px #d400ff;
    }

    90%{
        color: #ff0095;
		text-shadow: 0 0 20px #ff0095;
    }

    100%{
        color: #ff0000;
		text-shadow: 0 0 20px #ff0000;
    }

}

.rgb-text-color{
    animation: rgb-text 6s infinite;
    font-weight: 1000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}