@keyframes rollIn-by-ronlaniado {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.rollIn-by-ronlaniado {
  animation-name: rollIn-by-ronlaniado;
  animation-duration: 1200ms;
}