
@keyframes rotate-it {
  
	33% { transform: rotate(0deg); }
	50% { transform: rotate(-2deg);
    
  }
  66%{
    font-size:150% ;
    transform: rotate(-360deg);
    transform-origin: top left ;
  }
  100% { transform: skewY(0deg);
    font-size:100%;}
}

.rotate-it{
  animation-duration: 4s;
  animation-name: rotate-it; 
}
