/**
 * /* By: https://github.com/dankmir
 *
 * @format
 */

@keyframes rotateScaleColor {
	0% {
		transform: rotate(0) scale(1) translateY(0);
		color: white;
	}
	25% {
		transform: rotate(5deg) scale(1.2) translateY(8px);
		color: green;
	}
	50% {
		transform: rotate(0) scale(1) translateY(0);
		color: white;
	}
	75% {
		transform: rotate(-5deg) scale(1.2) translateY(-8px);
		color: red;
	}
	100% {
		transform: rotate(0) scale(1) translateY(0);
		color: white;
	}
}

@-webkit-keyframes rotateScaleColor {
	0% {
		transform: rotate(0) scale(1) translateY(0);
		color: white;
	}
	25% {
		transform: rotate(5deg) scale(1.2) translateY(8px);
		color: green;
	}
	50% {
		transform: rotate(0) scale(1) translateY(0);
		color: white;
	}
	75% {
		transform: rotate(-5deg) scale(1.2) translateY(-8px);
		color: red;
	}
	100% {
		transform: rotate(0) scale(1) translateY(0);
		color: white;
	}
}

.rotateScaleColor {
	animation: rotateScaleColor 2s ease-in-out infinite;
	animation-timing-function: ease;
	-webkit-animation: rotateScaleColor 2s ease-in-out infinite;
	-webkit-animation-timing-function: ease;

	text-shadow: 0 8px 0px #000;
	transform-origin: 50% 50%;
}
