/**
 * /* By: https://github.com/aliheikal
 *
 * @format
 */

.scooby-doo {
  color: #fff;
  cursor: default;
  font-family: 'Fredoka One', sans-serif;
  font-size: 20vmin;
  font-weight: normal;
  margin: auto;
  padding: 0 2rem;
  outline: none;
  transform: skew(10deg, 2deg);
  animation: sd 2s ease-in-out infinite;
}
@keyframes sd {
  30% {
    text-shadow: 6px 0 2px rgba(179, 8, 8, 0.4), 12px 0 2px rgba(26, 35, 126, 0.3);
  }
  50% {
    letter-spacing: 0.25rem;
    transform: skew(-10deg, -2deg);
  }
  90%, 100%, 0% {
    text-shadow: 2px 4px 2px rgba(179, 8, 8, 0.4), 4px 8px 2px rgba(26, 35, 126, 0.3);
  }
}