/* By: https://github.com/eric3119 */

@keyframes scrolling {
  0% {
    right: -100vw;
    background-position: 200%;
  }

  40%, 60% {
    right: 0vw;
  }

  100% {
    right: 100vw;
    background-position: -200%;
  }
}

.scrolling {
  display: flex;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  white-space: nowrap;
  animation: scrolling 10s infinite;
}