@keyframes secret {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.secret {
  background: linear-gradient(90deg, #1b1b1b, #fff, #1b1b1b);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: secret 3s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}