.seek::before {
	content: '';
	position: absolute;
	width: 560px;
	height: 60px;
	background: #9b541e;
	animation: seek forwards 1.5s;
}

@keyframes seek {
	0% {
		transform: scaleX(0);
		transform-origin: left;
	}
	10% {
		transform: scaleX(1);
		transform-origin: right;
	}
	50% {
		transform: scaleX(2);
		transform-origin: right;
	}
    80% {
		transform: scaleX(1);
		transform-origin: right;
	}
	100% {
		transform: scaleX(0);
		transform-origin: right;
	}
}