/** @format */

.shadow-animation {
	animation: shadowing 6s linear infinite;
	color: rgb(26, 0, 22);
}

@keyframes shadowing {
	0% {
		text-shadow: 0 0 20px rgba(255, 38, 157, 1);
	}
	25% {
		text-shadow: 0 0 30px rgb(117, 15, 71);
	}
	50% {
		text-shadow: 0 0 30px rgb(44, 4, 26);
	}
	100% {
		text-shadow: 0 0 20px rgba(255, 38, 157, 1);
	}
}
