.shakey:hover{
 animation: shake 3s;
 animation-iteration-count: infinite; 
}
@keyframes shake {
 0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-10deg); }
  20% { transform: translate(-3px, 0px) rotate(10deg) scale(1.2); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(10deg) scale(1.2); }
  50% { transform: translate(-1px, 2px) rotate(-10deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.2); }
  70% { transform: translate(3px, 1px) rotate(-10deg); }
  80% { transform: translate(-1px, -1px) rotate(10deg) scale(1.2); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
}
