/** @format */

@keyframes shimmy {
	0% {
		transform: translate(2px, 0);
		transform: rotate(2deg);
	}
	50% {
		transform: translate(-2px, 0);
		transform: rotate(-2deg);
	}
	100% {
		transform: translate(2px, 0);
		transform: rotate(2deg);
	}
}

.shimmy {
	-webkit-animation-name: shimmy;
	animation-name: shimmy;
	animation: shimmy 200ms infinite;
	animation-timing-function: linear;
}
