@keyframes showRight {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.6, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-50px, 0, 0);
  }

  75% {
    transform: translate3d(20px, 0, 0);
  }

  90% {
    transform: translate3d(-8px, 0, 0);
  }

  to {
    transform: none;
  }
}

.showRight {
  animation-name: showRight;
  animation-duration: 1s;
}