/**
 * By: https://github.com/ayeteejay
 *
 * @format
 */

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@500&display=swap');

@keyframes levitation {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(30px);
	}

	100% {
		transform: translateY(0);
	}
}
@keyframes transmute {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
@keyframes shrink {
	0% {
		letter-spacing: -5px;
	}
	50% {
		letter-spacing: 1px;
	}
	100% {
		letter-spacing: -5px;
	}
}
@keyframes invisibility {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.simulacrum {
	font-family: 'Inknut Antiqua', serif;
	animation: levitation 5s infinite, transmute 2s ease-in-out infinite,
		shrink 5s infinite, invisibility 9s infinite;
	background-image: linear-gradient(90deg, blueviolet, firebrick, blueviolet);
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 200%;
	-webkit-text-fill-color: transparent;
	transition: 1s;
}
