/** @format */
/* By https://github.com/gambhirsharma */

@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap");

 .slidefade{
  font-family: "Yanone Kaffeesatz", sans-serif;
	 text-align: center;
	 font-size: 10vmin;
	 line-height: 1;
	 letter-spacing: 4px;
	 -webkit-text-fill-color: transparent;
	 background: linear-gradient(90deg, #411e2f, white, #411e2f);
	 background-size: 70% 100%;
	 background-repeat: no-repeat;
	 -webkit-background-clip: text;
	 animation: shade 5s linear infinite ;
}

@keyframes shade {
  0% {
    background-position-x: -500%;
 }
  100% {
    background-position-x: 500%;
 }
}
 