/**
 * /* By: https://github.com/DilshadNoshad
 *
 * @format
 */

.slide_clr {
	font-weight: 800;
	font-size: 8vw !important;
	text-align: center;
	background-image: linear-gradient(to right, #1f4037, #99f2c8);
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	animation: slide-clr_ani 2s linear infinite;
}

@keyframes slide-clr_ani {
	0% {
		background-position: 200% center;
	}
}
