/** @format */

.slidingGradient {
	width: 100%;
	height: auto;
	background: red;
	position: relative;
	border-radius: 10px;
	background: linear-gradient(
		45deg,
		#5433ff,
		#a5fecb,
		#20bdff,
		#5433ff,
		black,
		white,
		red
	);

	background-size: 400%;
	animation: m 5s infinite linear;
}

@keyframes m {
	0% {
		left: -100%;
		background-position: 0%;
	}

	100% {
		left: 150%;
		background-position: 100%;
	}
}
