@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.slowRotation {
	font-family: 'Monoton', cursive;
	font-size: 40px;
	color: #fff;
	-webkit-animation: h1 8s infinite;
	animation: slowRotation 8s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slowRotation {
		0%{
		transform:rotateY(90deg);
		text-shadow:0 0 0 #f6ff6b;
	}
	100%{
		transform:rotateY(0deg);
		text-shadow:0.1em 0.1em .05em #f6ff6b;
	}
}

/* Internet Explorer */

@keyframes slowRotation {
		0%{
		transform:rotateY(90deg);
		text-shadow:0 0 0 #f6ff6b;
	}
	100%{
		transform:rotateY(0deg);
		text-shadow:0.1em 0.1em .05em #f6ff6b;
	}
}
