/**
 * /* By: https://github.com/seanevans-test
 *
 * @format
 */

 @keyframes spinner-zoom {
	0%, 100% { transform: scale(0) rotate(0deg); }
	50% { transform: scale(1) rotate(360deg); }
}

.spinning-zoom {
    animation: spinner-zoom 3s infinite;
}

/* styles */

.title {
    color: #ff8ae2;
    letter-spacing: 1px;
    text-shadow: 6px 4px 7px #072540;
    font-family: "Inter Bold", "Helvetica", "Arial", san-serif;
    font-weight: 600;
}
