
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

.spookyblur{
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);  
  font-family: 'UnifrakturCook', cursive;
  letter-spacing: 8px;
  font-size: 8em;
  position: absolute;
  z-index: 10;
  margin-top: -100px;
  margin-left: -400px;
  -webkit-animation: spookyblur 5s infinite;
  -moz-animation: spookyblur 5s infinite;
  -o-animation: spookyblur 5s infinite;
  animation: spookyblur 5s infinite;
}

@-webkit-keyframes spookyblur {
 0% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
   left: 51%;
   top: 36%;
 }
 5% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 50%;
   top: 35%;
 }
 10% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
   left: 49%;
   top: 34%;
 }
 15% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
   top: 35%;
 }
 16% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 17% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
 }
 20% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 49%;
 }
 25% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 49%;
 }
 30% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
   left: 50%;
 }
 35% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 50%;
 }
 36% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 37% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 50%;
 }
 40% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.9);
   left: 51%;
 }
 45% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 51%;
 }
 50% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
   left: 51%;
 }
 55% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 50%;
 }
 56% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 57% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 52%;
 }
 60% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 50%;
 }
 65% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
 }
 70% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
   left: 49%;
 }
 75% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 49%;
 }
 76% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 77% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 49%;
 }
 80% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.1);
   left: 49%;
 }
 85% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
   left: 51%;
 }
 86% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 87% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
   left: 51%;
 }
 90% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
   left: 51%;
 }
 95% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 51%;
 }
 100% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 50%;
 }
}

@-moz-keyframes spookyblur {
 0% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
   left: 51%;
   top: 36%;
 }
 5% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 50%;
   top: 35%;
 }
 10% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
   left: 49%;
   top: 34%;
 }
 15% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
   top: 35%;
 }
 16% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 17% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
 }
 20% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 49%;
 }
 25% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 49%;
 }
 30% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
   left: 50%;
 }
 35% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 50%;
 }
 36% {
   text-shadow: 0 0 5px #7e0606; 
   left: 50%;
 }
 37% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 50%;
 }
 40% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.9);
   left: 51%;
 }
 45% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 51%;
 }
 50% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
   left: 51%;
 }
 55% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 50%;
 }
 56% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 57% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 52%;
 }
 60% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 50%;
 }
 65% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
 }
 70% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
   left: 49%;
 }
 75% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 49%;
 }
 76% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 77% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 49%;
 }
 80% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.1);
   left: 49%;
 }
 85% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
   left: 51%;
 }
 86% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 87% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
   left: 51%;
 }
 90% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
   left: 51%;
 }
 95% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 51%;
 }
 100% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 50%;
 }
}

@-o-keyframes spookyblur {
 0% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
   left: 51%;
   top: 36%;
 }
 5% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 50%;
   top: 35%;
 }
 10% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
   left: 49%;
   top: 34%;
 }
 15% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
   top: 35%;
 }
 16% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 17% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
 }
 20% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 49%;
 }
 25% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 49%;
 }
 30% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
   left: 50%;
 }
 35% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 50%;
 }
 36% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 37% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 50%;
 }
 40% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.9);
   left: 51%;
 }
 45% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 51%;
 }
 50% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
   left: 51%;
 }
 55% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 50%;
 }
 56% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 57% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 52%;
 }
 60% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 50%;
 }
 65% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
 }
 70% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
   left: 49%;
 }
 75% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 49%;
 }
 76% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 77% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 49%;
 }
 80% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.1);
   left: 49%;
 }
 85% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
   left: 51%;
 }
 86% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 87% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
   left: 51%;
 }
 90% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
   left: 51%;
 }
 95% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 51%;
 }
 100% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 50%;
 }
}

@keyframes spookyblur {
 0% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
   left: 51%;
   top: 36%;
 }
 5% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 50%;
   top: 35%;
 }
 10% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
   left: 49%;
   top: 34%;
 }
 15% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
   top: 35%;
 }
 16% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 17% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
 }
 20% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 49%;
 }
 25% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 49%;
 }
 30% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
   left: 50%;
 }
 35% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 50%;
 }
 36% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 37% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 50%;
 }
 40% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.9);
   left: 51%;
 }
 45% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
   left: 51%;
 }
 50% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
   left: 51%;
 }
 55% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 50%;
 }
 56% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 57% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
   left: 52%;
 }
 60% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 50%;
 }
 65% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 50%;
 }
 70% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
   left: 49%;
 }
 75% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 49%;
 }
 76% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 77% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
   left: 49%;
 }
 80% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.1);
   left: 49%;
 }
 85% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
   left: 51%;
 }
 86% {
   text-shadow: 0 0 5px ;
   left: 50%;
 }
 87% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
   left: 51%;
 }
 90% {
   text-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
   left: 51%;
 }
 95% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
   left: 51%;
 }
 100% {
   text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   left: 50%;
 }
}