/**
 * /* By: https://github.com/topekz
 *
 * @format
 */

@keyframes staircase_bounce {

    0% {
        transform: translateY(-300px);
        font-size:1.5em;
    }

    10% {
        transform: translateY(-245px);
        font-size:1.7em;
    }

    22% {
        transform: translateY(-270px);
        font-size:1.8em;
        color:rgba(220,220,220,.1);
    }

    35% {
        transform: translateY(-170px);
        font-size:1.9em;
        color:white;
    }

    49% {
        transform: translateY(-240px);
        font-size:2.0em;
        color:rgba(220,220,220,.1);
    }

    65% {
        transform: translateY(-100px);
        font-size:2.2em;
        color:white;
    }
    80% {
        transform: translateY(-150px);
        font-size:2.5em;
        color:rgba(220,220,220,.1);
    }
    to {
        transform: translateY(0px);
        font-size:3.0em;
        color:white;

    }
    
}

.staircase_bounce {
    animation-duration: 8s;
    animation-name: staircase_bounce;
    animation-iteration-count: infinite;
}

