/**
 * /* By: https://github.com/MandeeD
 *
 * @format
 */

@keyframes star-wars-roll {
	0% {
		top: 100px;
		transform: perspective(300px) rotateX(25deg);
	}
	100% {
		top: -150px;
		transform: perspective(50px) rotateX(50deg);
	}
}

.star-wars-roll {
	position: absolute;
	color: yellow;
	width: 100%;
	left: 0;
	transform-origin: 50% 100%;
	animation: star-wars-roll 10s forwards;
}
