/**
 * /* By: https://github.com/timoransky
 *
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@keyframes static-color-change {
  0% {
    color: var(--static-color-1)
  }

  19% {
    color: var(--static-color-1)
  }

  20% {
    color: var(--static-color-2)
  }

  39% {
    color: var(--static-color-2)
  }

  40% {
    color: var(--static-color-3)
  }

  59% {
    color: var(--static-color-3)
  }

  60% {
    color: var(--static-color-4)
  }

  79% {
    color: var(--static-color-4)
  }

  80% {
    color: var(--static-color-5)
  }

  99% {
    color: var(--static-color-5)
  }

  100% {
    color: var(--static-color-1)
  }
}

.static-color-change {
  --static-color-1: #DF8453;
  --static-color-2: #3D8DAE;
  --static-color-3: #DBAD4A;
  --static-color-4: #ACCFCB;
  --static-color-5: #E4A9A8;

  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  animation: static-color-change 4s linear infinite;
  text-transform: uppercase;
}