/**
 * /* By: https://github.com/verissteph
 *
 * @format
 */


 .stepittap {
	-webkit-animation:  0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
            animation: stepitta 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
            -webkit-box-shadow: 26px 25px 15px 7px rgba(96,36,55,1);
            -moz-box-shadow: 26px 25px 15px 7px rgba(96,36,55,1);
            box-shadow: 26px 25px 15px 7px rgba(96,36,55,1);

}


 @-webkit-keyframes stepittap {
    0% {
      -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
              transform: translateY(0) translateZ(0) rotateX(0deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
    100% {
      -webkit-transform: translateY(150px) translateZ(-230px) rotateX(90deg);
              transform: translateY(150px) translateZ(-230px) rotateX(90deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
  }
  @keyframes stepittap {
    0% {
      -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
              transform: translateY(0) translateZ(0) rotateX(0deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
    100% {
      -webkit-transform: translateY(150px) translateZ(-230px) rotateX(90deg);
              transform: translateY(150px) translateZ(-230px) rotateX(90deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
  }
  