


@keyframes stone {
	0%,
	100% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(250px, 0);
	}

	80% {
		transform: translate(-50px, 0);
	}
}

.stone {
	animation: stone 3s ease infinite alternate;
		
}
