@keyframes strangerthings {
  0% {
    transform: scale(10);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes strangerthings-border {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0);
  }
  85% {
    transform: scaleX(1);
  }
}

.strangerthings {
  font-family: "Cochin";
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px red;
  filter: drop-shadow(0 0 15px rgba(255, 0, 0, 1));
  text-align: center;
  animation: strangerthings 5s infinite;
}
.strangerthings::after {
  display: inline-block;
  margin: 0px 0px 54px 0px;
  height: 2px;
  content: " ";
  background-color: red;
  box-shadow: 0 6px 0 red;
  width: 16em;
  animation: strangerthings-border 5s infinite;
}