/**
 * /* By: https://github.com/DilshadNoshad
 *
 * @format
 */
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.Stripes-text {
	font-family: 'Rancho', cursive;
	font-weight: 800;
	font-size: 8vw;
	text-align: center;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: stripes 2s linear infinite;
	background-image: -webkit-linear-gradient(#000 50%, #fff 50%);
	background-repeat: repeat;
	background-position: 0 0;
	background-size: 100% 10px;
}

@keyframes stripes {
	100% {
		background-position: 0 -10px;
	}
}
