.stroke-slide {
    background: linear-gradient(-70deg, #ff00ff 5%, #ff0000 53%, #0000ff 91%);
    color: #0c0c0c;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    letter-spacing: 2px;
}

.stroke-slide {
    background-size: 200%;
    animation: ani 5s linear infinite;
}

@keyframes ani {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 200% 0;
    }
    50% {
        background-position: 400% 0;
    }
    75% {
        background-position: 600% 0;
    }
    100% {
        background-position: 800% 0;
    }
}