body {
	background-color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  }
  .tanya-animation {
	position: relative;
  }
  .tanya-animation span{
  position: relative;
	display: inline-block;
	font-size: 35px;
		text-align: center;
	  color: #A020F0;
	  text-shadow: 0px 3px 2px #ccc, 
	  0px 8px 10px rgba(0,0,0,0.15), 
	  0px 12px 2px rgba(0,0,0,0.7);
	 animation: tanya-animate 3s infinite;
	  animation-delay: calc(.2s * var(--i));
  }
  
  @keyframes tanya-animate{
	  0%,80% {
	  transform: rotateY(360deg) 
	 }
  }

  /* <html>
  <div class = "tanya-animation">
 <span style="--i:1">H</span>
   <span style="--i:2">A</span>
   <span style="--i:3">C</span>
   <span style="--i:4">K</span>
   <span style="--i:5">T</span>
   <span style="--i:6">O</span>
   <span style="--i:7">B</span>
   <span style="--i:8">E</span>
    <span style="--i:9">R</span>
   <span style="--i:10">F</span>
   <span style="--i:11">E</span>
   <span style="--i:12">S</span>
   <span style="--i:13">T</span>
   <span style="--i:14"> </span>
   <span style="--i:15">A</span>
   <span style="--i:16">N</span>
   <span style="--i:17">I</span>
   <span style="--i:18">M</span>
   <span style="--i:19">A</span>
   <span style="--i:20">T</span>
   <span style="--i:21">I</span>
   <span style="--i:22">O</span>
    <span style="--i:23">N</span>
  </div>
  </body>
</html> */