/** @format */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap');

.thin-air {
	font-family: 'Cormorant Garamond', serif;
	background-color: transparent;
	animation-name: disappear;
	animation-duration: 3s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}
@keyframes disappear {
	from {
		color: black;
	}
	to {
		color: transparent;
	}
}
