@keyframes top-down {
  from {
    transform: translateY(-10vw);
  }

  to {
    transform: translateY(0);
  }
}

.top-down {
  display: flex;
  animation: top-down 3s 0s alternate infinite;
}

@keyframes rotate {
  from {
    transform: rotate(-135deg);
  }

  to {
    transform: rotate(45deg);
  }
}

.top-down::before,
.top-down::after {
  content: "";
  width: 24px;
  height: 24px;
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  transform: rotate(-135deg) ;
  animation: rotate 3s 0s alternate infinite;
  margin: 20px;
}