/* 
Author:Rohan Yadav (https://github.com/lmNoob)
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@-webkit-keyframes track-in {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: 20px;
        opacity: 1;
    }
}

@keyframes track-in {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: 20px;
        opacity: 1;
    }
}

.tracKing {
    font-family: 'Quicksand';
    font-weight: 300;
    cursor: default;
    background: -webkit-linear-gradient(110deg, rgba(79, 65, 233, 0.827)50%, rgba(6, 245, 189, 0.61) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: track-in 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: track-in 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both infinite;
}