
h1 {
    font-weight: bolder;
    position: relative;
    font-size: 4em;
    letter-spacing: 15px;
    color: #f58742b2;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.83em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate{
        0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
        {
            color: #f58742b2;
            text-shadow: none;
        }
        18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
        {
            color: #fff;
            text-shadow: 0 0 10px #e09769,
            0 0 20px #e09769,
            0 0 40px #e09769,
            0 0 80px #e09769,
            0 0 160px #e09769;
        }
}