/* By: https://github.com/Nandini-108
@format
*/
@keyframes twister {
    0% {
        transform: rotate(-10deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-9deg);
    }
}

.twister {
    animation-name: twister;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}