@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

/** @format */
@keyframes type-pulse {
	0% {
		width: 0;
	}

	100% {
		width: 24ch;
	}

    0%   {opacity: 1;}
    50% { opacity: 0;}
    100% {opacity: 1;}

    from {top: -250px;}
	to 	{top: 300px;}
}


.type-pulse {
	white-space: nowrap;
	overflow: hidden;
	font-family: 'Libre Barcode 128 Text', cursive;;
	margin-left: auto;
	margin-right: auto;
	animation: type-pulse 2.4s steps(24) 0s  infinite;
    transform-origin: 0%;
    transform: rotate(90deg); 
}

