@keyframes Typo {
    100% {
        transform: rotateY(-40deg) rotateX(-43deg);
    }
}

.Typography {
    transform-style: preserve-3d;
    animation: Typo 5s infinite alternate ease-in-out -7.5s;
    animation-fill-mode: forwards;
    transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}