 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        .typingBlackDropBox{
            position: relative;
            font-size: 6em;
            color: #222;
            font-family: 'Poppins', sans-serif;
            background: #111;
        }

        .typingBlackDropBox::before{
            content: attr(data-text);
            position: absolute;
            color: #fff;
            width: 350px;
            overflow: hidden;
            white-space: nowrap;
            border-right: 4px solid #fff;
            animation: TypeDrpoAnimate 8s linear infinite;
            filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
        }

        @keyframes TypeDropAnimate {
            0%, 10%, 100%{
                width: 0;
            }

            70%, 90%{
                width: 100%;
            }
        }
