/**
 * /* By: https://github.com/Shreya-L
 *
 * @format
 */

@keyframes vote {
	50% {
		transform: scale(10);
	}
	0% {
		transform: scale(1);
	}

	0% {
		background-color: red;
	}
	50% {
		background-color: white;
	}
	100% {
		background-color: blue;
	}
}

.vote {
	font-family: 'Helvetica Neue', 'Helvetica';
	text-transform: uppercase;
	color: #ff0000;
	text-align: center;
	animation: vote 3s;
}

.vote::after {
	content: ' VOTE';
}
