
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&display=swap');

.Water {
  text-transform: uppercase;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  font-size: 100pt;
  text-align: center;
  height: 120px;
  line-height: 110px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin-bottom: 200px;
  display: block;
  background-image: url("https://i.pinimg.com/originals/ef/47/f4/ef47f4c663869a49bdb6c70155e055a3.jpg");
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
  animation: wave-animation 2s infinite linear, loading-animation 5s infinite linear alternate;
  background-size: 200px 100px;
  background-repeat: repeat-x;
  opacity: 1;

}

@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 200px bottom;
  }
}

@keyframes loading-animation {
  0% {
    background-size: 200px 0px;
  }
  100% {
    background-size: 200px 200px;
  }
}
