/*
 * By: https://github.com/davidbru
 *
 * @format
 */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.wave {
  color: rgba(255,255,255,0);
  position: relative;
  font-family: "Anton", sans-serif;
}

.wave:before,
.wave:after {
  content: attr(data-text);
  position:absolute;
  top:0;
  left:0;
}
.wave:before {
  color: transparent;
  -webkit-text-stroke: 1px #0092d3;
}
.wave:after {
  color: #0092d3;
  animation: animateWave 4s ease-in-out infinite;
}

@keyframes animateWave {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
