.Wavy-Apperance {
  color: #0b47b1;
  line-height: 1.5;
  font-family: "Archivo Black", sans-serif;
  font-size: 5rem;
  animation: Wavy-Apperance 3s ease-in-out infinite;
}

@keyframes Wavy-Apperance {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.Wavy-Apperance:nth-child(2) {
  animation-delay: 0.5s;
}

.Wavy-Apperance:nth-child(3) {
  animation-delay: 1s;
}

.Wavy-Apperance:nth-child(4) {
  animation-delay: 1.5s;
}

.Wavy-Apperance:nth-child(5) {
  animation-delay: 2s;
}

.Wavy-Apperance:nth-child(6) {
  animation-delay: 2.5s;
}

.Wavy-Apperance:nth-child(7) {
  animation-delay: 3s;
}
