/**
 * /* By: https://github.com/HJain13
 *
 * @format
 */

@keyframes wiggle {
	0% {
		transform: rotate(10deg);
	}

	25% {
		transform: rotate(-10deg);
	}

	50% {
		transform: rotate(20deg);
	}

	75% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.wiggle {
	animation-name: wiggle;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
