/**
 * /* By: https://github.com/jomifepe
 *
 * @format
 */

.x-ray {
  position: relative;
  color: white;
}

.x-ray::before {
  content: "Hacktoberfest animations";
  width: max-content;
  height: 0;
  border-bottom: 3px solid white;
  color: transparent;
  background-image: url("https://www.svgrepo.com/show/68001/binary-code.svg");
  background-color: #79c0d7;
  background-size: 16px;
  background-clip: text;
  -webkit-background-clip: text;
  overflow: hidden;
  position: absolute;
  animation: move 2s linear infinite;
  animation-direction: alternate;
}

@keyframes move {
  to {
    height: 100%;
  }
  from {
    height: 0;
  }
}

