


@keyframes xort {
	0% {
		transform: translate(0);
	}
	10% {
		transform: translate(-0.1rem, 0.1rem);
	}
	20% {
		transform: translate(-0.2rem, -0.9rem);
	}
	30% {
		transform: translate(0.1rem, 0.7rem);
	}
	40% {
		transform: translate(5rem, -0.1rem);
	}
	to {
		transform: translate(0);
	}
}

.xort {
	animation: xort 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
	color: white;
}

.xort:before,
.xort:after {
	display: block;
	content: 'Hacktoberfest animations';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.8;
}

.xort:after {
	animation: xort 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
		infinite;
	color: rgb(0, 255, 136);
	z-index: -2;
}

.xort:before {
	animation: xort 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
	color: rgb(136, 255, 0);
	z-index: -1;
}
