@-webkit-keyframes zoomIn {
  0% {
    opacity: 0.2;
    text-shadow: 0px 0px 2.5px #fff;
    -webkit-transform: scale(0.9);
  }

  25% {
    opacity: 0.4;
    text-shadow: 0px 0px 5px #fff;
    -webkit-transform: scale(1);
  }

  50% {
    opacity: 0.6;
    text-shadow: 0px 0px 10px #fff;
    -webkit-transform: scale(1.1);
  }

  75% {
    opacity: 0.8;
    text-shadow: 0px 0px 20px #fff;
    -webkit-transform: scale(1.2);
  }

  100% {
    opacity: 1;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.3);
  }

  /* 0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }*/
}

.zoomIn {
  animation: zoomIn 2s ease infinite;
  animation-fill-mode: forwards;
}
