/**
 * /* By: https://github.com/sunny-aguilar
 *
 * @format
 */

@keyframes zoomright {
	0%,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.6, 0.355, 1);
	}

	0% {
		opacity: 0;
		transform: translate3d(-3000px, 0, 0);
	}

	60% {
		opacity: 1;
		transform: translate3d(25px, 0, 0);
	}

	75% {
		transform: translate3d(-15px, 0, 0);
	}

	90% {
		transform: translate3d(5px, 0, 0);
	}

	to {
		transform: none;
	}
}

.zoomright {
	animation-name: zoomright;
	animation-duration: 1s;
}
